 <br><br>
 <br><br>

 <section id="intro" >
     <div class="intro-container-fluid">
 
 <div class="main-container mt-3">
    <div class="container" id="card">
        <div class="row mb-3">
            <div class="col-sm-5 login-box">
                <div class="card card-default">
                    <div class="panel-intro text-center mt-3">
                        <h2>{{'SignUp' | translate }}</h2>
                    </div>
                    <div class="card-body" [ngBusy]="busy">
                        <form role="form">
                            <div class="form-group">
                                <label for="first-name" class="control-label">Membership id:</label>

                                <div class="input-icon"><i class="fa fa-user" aria-hidden="true"></i>
                                    <input #membership=ngModel required name="membership" [(ngModel)]="user.membership_index"  id="membership" type="number" 
                                    placeholder="Membership identity"  min="1"  class="form-control">
                                </div>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf="(isSubmitted && membership.errors?.required) || ( membership.errors?.required && (membership.dirty || membership.touched))"
                                class="form-text text-danger" >{{'required' | translate}} </label>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf="user.membership_index<= 0 "
                                class="form-text text-danger" >{{'Membership_error' | translate}} </label>
                            </div>


                            <div class="form-group">
                                <label for="first-name" class="control-label">{{'FirstName' | translate}}:</label>

                                <div class="input-icon"><i class="fa fa-user" aria-hidden="true"></i>
                                    <input #firstName=ngModel required name="first_name" [(ngModel)]="user.first_name"  id="first-name" type="text" 
                                    placeholder="{{'FirstName'|translate}}"    class="form-control">
                                </div>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf="(isSubmitted && firstName.errors?.required) || ( firstName.errors?.required && (firstName.dirty || firstName.touched))"
                                class="form-text text-danger" >{{'required' | translate}} </label>
                            </div>

                            <div class="form-group">
                                <label for="last-name"  class="control-label">{{'LastName'|translate}}:</label>

                                <div class="input-icon"><i class="fa fa-user" aria-hidden="true"></i>
                                    <input  #last_name=ngModel required name="last_name" [(ngModel)]="user.last_name" id="last-name" type="text" placeholder="{{'LastName'|translate}}"
                                           class="form-control">
                                </div>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf= "(isSubmitted && last_name.errors?.required) || (last_name.errors?.required && (last_name.dirty || last_name.touched))"
                                class="form-text text-danger" >{{'required' | translate}} </label>
                            </div>

                            <div class="form-group">
                                <label for="sender-email" class="control-label">Email:</label>

                                <div class="input-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input  #email=ngModel required name="email" [(ngModel)]="user.email" id="sender-email" type="email" placeholder="Email"
                                    class="form-control email">
                                </div>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf=" (isSubmitted && email.errors?.required)  || (email.errors?.required && (email.dirty || email.touched))"
                                class="form-text text-danger" >{{'required' | translate}} </label>
                            </div>
                            <div class="form-group">
                                <label for="user-pass" class="control-label">{{'Password'|translate}}:</label>

                                <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i>
                                    <input required #password=ngModel name="password" [(ngModel)]="user.password"  type="password" class="form-control" placeholder="Password"
                                    placeholder="{{'Password'|translate}}"    id="user-pass">
                                </div>
                                  
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf="(isSubmitted && password.errors?.required) ||  
                                (password.errors?.required && (password.dirty || password.touched))"
                                class="form-text text-danger">{{'required' | translate}} </label>

                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf="(passwordError && isSubmitted)"
                                class="form-text text-danger"> {{'PasswordPattern' | translate}}
                                <ul>
                                    <li> {{'onenumber' | translate}} </li>
                                    <li> {{'oneuppercaseletter' | translate}} </li>
                                    <li> {{'one uppercase letter' | translate}} </li>
                                </ul>
                            </label>
                            
                                
                            </div>


                            <div class="form-group">
                                <a  (click)="submit()" style="color: white;" class="btn btn-primary  btn-block">{{'SignUp' | translate}}</a>
                            </div>

                        

                          

                        </form>
                    </div>
                     <div class="card-footer">

                     


                        <p class="text-center pull-right"><a href="forgot-password.html">{{ 'ForgetPassword' | translate}} </a>
                        </p>

                        <div style=" clear:both"></div>
                    </div>  
                </div>
                <div class="login-box-btm text-center">
                    <p style="color: gray;"> {{'Account' | translate}} <br>
                        <a href="/auth/login"><strong>{{'SignIn' | translate}} !</strong> </a></p>
                </div>
            </div>
        </div>
    </div>
</div>
     </div>
 </section>