@import '../user.scss';
 @import '../../shared/shared.scss';

#card{
    margin-top: 3rem;
    width: 80%;
    height: 120vh;

}
#intro {
   
    background: url(../../../assets/images/intro.png) top center;
    
    background-size: cover;
}
#card-above{

}