.footer {
    background: #1a1a1a;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.pic {
  background-color: #000000;
}
    .footer a {
      color: #ce0f3d; }
    .footer p {
      color: rgba(255, 255, 255, 0.6); }
    .footer .copyright {
      color: rgba(255, 255, 255, 0.3);
      color: #999999; }
    .footer .footer-headingg {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 800;
      color: #fff;
      text-transform: uppercase;
      position: relative; }
    .footer ul.list-unstyled li a {
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.7); }
    .footer .block-21 .img {
      display: block;
      height: 80px;
      width: 80px; }
    .footer .block-21 .textt {
      width: calc(100% - 100px); }
      .footer .block-21 .textt .headingg {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4; }
        .footer .block-21 .textt .headingg a {
          color: #fff; }
          .footer .block-21 .textt .headingg a:hover, .footer .block-21 .textt .headingg a:active, .footer .block-21 .textt .headingg a:focus {
            text-decoration: none; }
      .footer .block-21 .textt .meta > div {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px; }
        .footer .block-21 .textt .meta > div a {
          color: gray; }
    .footer .block-23 ul li {
      color: rgba(255, 255, 255, 0.6); }
      .footer .block-23 ul li a {
        color: rgba(255, 255, 255, 0.6); }
      .footer .block-23 ul li .icon {
        color: rgba(255, 255, 255, 0.4); }
    .footer .ftco-footer-social li a {
      background: rgba(255, 255, 255, 0.1);
      color: #ce0f3d; }
  
  .ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block; }
    .ftco-footer-social li a {
      height: 40px;
      width: 40px;
      display: block;
      float: left;
      background: rgba(255, 255, 255, 0.05);
      border-radius: 50%;
      position: relative; }
      .ftco-footer-social li a span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .ftco-footer-social li a:hover {
        color: #fff; }
  
  .cta-section .cta-text {
    float: none;
  }
  .cta-section .primary-btn.cta-btn {
    float: none;
  }
  /*---------------------
    Cta Section
  -----------------------*/
  
  .cta-section {
     /*background: -o-linear-gradient(45deg, black, black);
      background: linear-gradient(45deg, black,  black);*/
      background:#151515;
      
      height: 70vh;
      // background: #EEEEEE;
  }
  @media only screen and (min-width: 300px) and (max-width : 1000px) {
    .cta-section{
      height: 150vh;
    }
  }

  .image-footer1{
    position: relative;
    top: 5rem;
    right: 5rem;
  }
  .image-footer2{
    position: relative;
    top: 5rem;
    right: 2rem;
    height: 200px;
    width: 400px;
  }

  @media only screen and (min-width: 300px) and (max-width : 1000px) {
  .image-footer1{
    position: relative;
    top: 14rem;
    right: 14rem;
  }
  .image-footer2{
    position: relative;
    top: 28rem;
    right: 15rem;
    height: 100px;
    width: 300px;
  }
}
  .cta-section .cta-text {
      float: left;
  }
  
  .cta-section .cta-text h3 {
      color: #ffffff;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  
  .cta-section .cta-text p {
      color: #ffffff;
      margin-bottom: 0;
  }
  
  .cta-section .primary-btn.cta-btn {
      float: right;
      border-color: #ffffff;
      background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #ffffff), to(#ffffff)), -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0%, #ffffff));
      background-image: -o-linear-gradient(left, #ffffff 100%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 0%);
      background-image: linear-gradient(to right, #ffffff 100%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 0%);
      margin-top: 14px;
  }
  .contact-section {
      background: #151515;
      padding-top: 95px;
  }
  
  .contact-section .contact-info {
      margin-bottom: 50px;
  }
  
  .contact-section .contact-info h4 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 30px;
  }
  
  .contact-section .contact-info ul li {
      list-style: none;
      font-size: 18px;
      color: #ffffff;
      line-height: 48px;
  }
  
  .contact-section .contact-info ul li i {
      color: #e4381C;
      margin-right: 18px;
  }
  
  .contact-section .contact-address {
      margin-bottom: 40px;
  }
  
  .contact-section .contact-address h4 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 30px;
      margin-right: 1rem;
  }
  
  .contact-section .contact-address ul li {
      list-style: none;
      font-size: 18px;
      color: #ffffff;
      line-height: 25px;
      position: relative;
      padding-left: 35px;
  }
  
  .contact-section .contact-address ul li i {
      font-size: 18px;
      color: #e4381C;
      margin-right: 18px;
      position: absolute;
      left: -2rem;
      top: 7px;
  }
  
  .contact-form h4 {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 48px;
  }
  
  .contact-form form input {
      width: 100%;
      height: 48px;
      border-radius: 2px;
      background: #2d2d2d;
      border: none;
      padding-left: 20px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #a6a6a6;
      -webkit-transition: all 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #131313;
  }
  
  .contact-form form input::-webkit-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form input::-moz-placeholder {
      font-weight: 600;
  }
  
  .contact-form form input:-ms-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form input::-ms-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form input::placeholder {
      font-weight: 600;
  }
  
  .contact-form form input:focus {
      background: #ffffff;
      color: #151515;
      font-weight: 600;
  }
  
  .contact-form form textarea {
      width: 100%;
      height: 198px;
      border-radius: 2px;
      background: #2d2d2d;
      border: none;
      padding-left: 20px;
      padding-top: 15px;
      font-size: 16px;
      color: #a6a6a6;
      -webkit-transition: all 0.3s;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      resize: none;
      margin-bottom: 25px;
      border: 1px solid #131313;
  }
  
  .contact-form form textarea::-webkit-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form textarea::-moz-placeholder {
      font-weight: 600;
  }
  
  .contact-form form textarea:-ms-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form textarea::-ms-input-placeholder {
      font-weight: 600;
  }
  
  .contact-form form textarea::placeholder {
      font-weight: 600;
  }
  
  .contact-form form textarea:focus {
      background: #ffffff;
      color: #151515;
      font-weight: 600;
  }
  
  .contact-form form .c-btn {
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;
      text-transform: uppercase;
      background: -o-linear-gradient(45deg, #8b211e, #8b211e);
      background: linear-gradient(45deg, #8b211e, #8b211e);
      padding: 12px 40px;
      border: none;
      font-family: "Oswald", sans-serif;
      border: 1px solid #000000;
    border-radius: 2px;
    margin-bottom: 10px;
  }
 