
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-address">
                    <h4>Email</h4>
                    <ul>
                        <li><i class="fa fa-envelope"></i> <span style="position: relative; left:-2rem"> contact@securinets.com</span>
                        </li>
                    </ul>
                </div>
                <!-- <div class="contact-info">
                    <h4>Information</h4>
                    <ul>
                        <li><i class="fa fa-envelope"></i>securinets.carthage.insat@gmail.com</li>
                    </ul>
                </div> -->
                <div class="contact-address">
                    <h4>Address</h4>
                    <ul>
                        <li><i class="fa fa-map-marker"></i>  <span style="position: relative; left:-2rem">676 INSAT Centre Urbain Nord BP </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1" >
                <div class="contact-form">
                    <h4> {{'GETINTOUCH' | translate }}</h4>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name"[(ngModel)]="name" name="first">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email"[(ngModel)]="email" name="first">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message"[(ngModel)]="message" name="first" ></textarea>
                                <button type="submit" class="c-btn"(click)="contact()">{{'SENDMESSAGE' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Cta Section Begin -->
    <section class="cta-section"  >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>{{'TRUSTUS' | translate}}</h3>
                        
                    </div>
                   <div class="row">
                       <div class="col-md-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Ernst_%26_Young_logo.svg/520px-Ernst_%26_Young_logo.svg.png" style="position: relative; right: 10rem; top: 5rem;" width="200px" height="170px" alt="">
                </div>
                <div class="col-md-5">
                    <img src="../../assets/images/gallery/cybertalents.png" class="image-footer1"    alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../assets/images/gallery/owasp.png" class="image-footer2"   alt="">
                </div>
                    <!-- <img src="../../assets/images/Logo-Ansi png.png" style="position: relative; top: 7rem;"  height="100px" width="200px" alt=""> -->
                </div>
                </div>
           
                  
            </div>
        </div>
        
    </section>

<footer class="footer" id="footer">
    
    <a href="#" class="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-headingg">{{'Socialmedia' | translate}}</h2>
                <p>{{'CHECKMEDIA' | translate }}</p>
                <ul class="ftco-footer-social p-0">

                    <li class="ftco-animate"><a href="https://www.facebook.com/Securinets" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="https://www.instagram.com/securinets.nationalassociation" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-headingg">{{'LatestNews' | translate}}</h2>
                <div class="block-21 mb-4 d-flex" style="padding-right:50px">
                   
                    <div class="textt">
                        <h3 class="headingg"><a (click)="navigateToLink('https://www.facebook.com/Securinets/posts/10158415303030661')"> The first known death from a cybersecurity attack </a></h3>
                        <div class="meta">
                            <div><a >Sept. 21, 2020</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    
                    <div class="textt">
                        <h3 class="headingg"><a (click)="navigateToLink('https://www.facebook.com/Securinets/posts/10158379814245661')" >A vulnerable wordpress plugin comproises over 700000 sites</a></h3>
                        <div class="meta">
                            <div><a >Sept. 6, 2020</a></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-headingg">{{'Visit' | translate}}</h2>
                <ul class="list-unstyled">
                    <li><a href="/workshop/list" class="py-2 d-block">{{'WORKSHOP.List' | translate}}</a></li>
                    <li><a href="/event" class="py-2 d-block">{{'EVENTS' | translate}}</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>
