@import '../user.scss';
@import '../../shared/shared.scss';

#card{
 
    margin-top: 12rem;
    width: 80%;
    margin-left: 10rem;


}
#intro {
   
    background: url(../../../assets/images/intro.png) top center;
    height: 100vh;
    background-size: cover;
}
@media screen and (max-width: 600px) {

    
    #card{
        position: absolute;
        margin-top: 7rem;
        width: 100%;
        right: 0rem;
        
    
    
    }
    #intro {
   
        height: 80vh;
    }


}