<br><br>

<section id="intro" >
    <div class="intro-container-fluid">
 <div class="main-container mt-1">
    <div class="container-fluid " id="card">
        <div class="row mb-8">
            <div class="col-sm-6 login-box">
                <div class="card card-default" style="margin-top: 2rem;height: 85%;">
                    <div class="panel-intro text-center mt-3 "style="margin-top:0%">
                        <h4>{{'ForgetPassword' | translate }} </h4>
                    </div>
                    <div class="card-body" [ngBusy]="busy" >
                        <form role="form" style="margin-top: 2rem;">
                         
                                  <div class="form-group">
                                    <label for="sender-email" class="control-label">Email:</label>

                                <div class="input-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input  [(ngModel)]="emailRequest" #email=ngModel required name="email"  id="sender-email" type="email" placeholder="Email"
                                    class="form-control email">
                                </div>
                                <label
                                for="" style="margin-top: 3px;" 
                                *ngIf=" (isSubmited && email.errors?.required)  || (email.errors?.required && (email.dirty || email.touched))"
                                class="form-text text-danger" >{{'required' | translate}} 
                              </label>
                            </div>
                        

                            <div class="form-group">
                                <a  (click)="SubmitEmail()" style="color: white; margin-top: 2rem;" class="btn btn-primary  btn-block">{{'Submit' | translate}}</a>
                            </div>

                        </form>
                    
                   
                </div>

        </div>
    </div>
</div>
</div>
