<div class="securinets-main-content" style="width: 100%; margin-top:5rem" [ngBusy]="busy" >
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home"><h3>Infos</h3></a>
    </li>
    <li class="nav-item" *ngIf="user.privilege_id === 3">
      <a class="nav-link " data-toggle="tab" href="#menu1"><h3>Ranking</h3></a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="width: 100%;padding-bottom: 15%;" >
    <div class="tab-pane container active" id="home">
      <form  role="form" #userForm="ngForm" (ngSubmit)="update()">
        <div class="field-margin pull-right">
          <button class="btn btn-success btn-lg"><i class="fa fa-save"></i>  {{'SAVE' | translate }}</button>
        </div>
        <div class="profile-container mt-5 ">
          <img *ngIf="!imageToDisplay" id="profile-image" [src]="user.url_photo ? backUrl + '/users/photo/' + user.url_photo: 'https://www.w3schools.com/howto/img_avatar.png'"
               alt="Edit Photo" class="profile-picture pointer" (click)="show()" />
          <img *ngIf="imageToDisplay" id="profile-image_uploaded" [src]="imageToDisplay"
               alt="Edit Photo" class="profile-picture pointer" (click)="show()" />
          <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1"
               role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Edit Photo</h4>
                </div>
                <div class="modal-body">
                  <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="4 / 3"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "hide()">Close</button>
                  <button type="button" class="btn btn-info" data-dismiss="modal" (click)="saveCropped()" >{{'SAVE'| translate}}</button>
                </div>
              </div>
            </div>
          </div>

          <div class=" edit-picture">
            <input id="fileInputField" accept="image/jpeg, image/png"  type='file' name="user-photo" class="file_upload" (change)="uploadUserPhoto($event)">

            <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon"/>
          </div>
        </div>

        <div class="input-name row">

          <div class="field-margin col-6" >
            <label class="parameter-title" for="first_name" >{{'FirstName' | translate}}</label>
            <input required [(ngModel)]="user.first_name" type="text" class="form-control parameter-input"
                   placeholder="{{user.first_name}}"  id ="first_name" name="first_name">
            <div class=" edit-label">
              <img src="assets/images/icons/pencil.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>
          <div class="field-margin col-6" >
            <label class="parameter-title"  >{{'LastName' | translate}}</label>
            <input required [(ngModel)]="user.last_name" type="text"  class="form-control parameter-input"
                   placeholder="{{user.last_name}}" name="last_name">
            <div class=" edit-label">
              <img src="assets/images/icons/pencil.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>

        </div>

        <div class="field-margin">
          <label class="parameter-title" for="Email" >Email</label>
          <input disabled type="text" class="form-control parameter-input-email" id="Email" name="email"
                 placeholder="{{user.email}}">

        </div>
        <div class="field-margin mt-4">
        <div class="custom-control custom-checkbox">
          <input [(ngModel)]="checked" name="mychekbox" type="checkbox" class="custom-control-input" id="defaultChecked2">
          <label class="custom-control-label" for="defaultChecked2">{{'UpdatePassword' | translate}} ? </label>
        </div>
        </div>
        <div class="input-name row" *ngIf="checked">
          <div class="field-margin col-4" >
          
            <label class="parameter-title-custom"  >{{'OldPassword' | translate}}</label>
            <input  required [(ngModel)]="user.old_password" type="password"  class="form-control parameter-input"
                   placeholder="{{'OldPassword' | translate}}" name="old_password">
            <div class=" edit-label">
              <img src="assets/images/icons/pencil.svg" alt="edit-icon" class="edit-icon-label"/>
            </div> 
     
          </div>

          <div class="field-margin col-4" >
            <label class="parameter-title-custom"  >{{'newPassword' | translate}}</label>
            <input required [(ngModel)]="user.password" type="password"  class="form-control parameter-input"
                   placeholder="{{'newPassword' | translate}}" name="password">
            <div class=" edit-label">
              <img src="assets/images/icons/pencil.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>
          <div class="field-margin col-4" >
            <label class="parameter-title-custom" >{{'ConfirmPassword' | translate}}</label>
            <input  required [(ngModel)]="user.confirmPassword" type="password"  class="form-control parameter-input"
                   placeholder="{{'ConfirmPassword' | translate}}" name="confirm_password">
            <div class=" edit-label">
              <img src="assets/images/icons/pencil.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>

        </div>
        <div class="input-name row" *ngIf="checked">
          <div class="col-md-4">
          <label
          for="" style="margin-top: 3px;" 
            *ngIf="oldPasswordWrong"
          class="form-text text-danger" >{{'WrongPassword' | translate}} </label>
        </div>
        <div class="col-md-4">
          <label
          for="" style="margin-top: 3px;" 
          *ngIf="!user.password || user.password.length == 0"
          class="form-text text-danger" >{{'required'| translate}} </label>

          <label
          for="" style="margin-top: 3px;" 
          *ngIf="(passwordError && isSubmitted)"
          class="form-text text-danger"> {{'PasswordPattern' | translate}}
          <ul>
              <li> {{'onenumber' | translate}} </li>
              <li> {{'oneuppercaseletter' | translate }}</li>
              <li> {{'onelowercaseletter' | translate}} </li>
          </ul>
      </label>
        </div>

        <div class="col-md-4">
          <label
          for="" style="margin-top: 3px;" 
          *ngIf="!user.confirmPassword || user.confirmPassword.length == 0"
          class="form-text text-danger" >{{'required'| translate}} </label>
          <label
          for="" style="margin-top: 3px;" 
          *ngIf=" (user.confirmPassword != user.password)"
          class="form-text text-danger" >{{'PasswordMatch'| translate}} </label>
        </div>
        </div>
      </form>



    </div>
    <div class="tab-pane container fade mt-5" id="menu1" *ngIf="user.privilege_id === 3">
      <table cellspacing="0" width="100%" datatable [dtOptions]="dtOptions"
             class="table  list-ranking-table">
        <thead>
        <tr>
          <th>{{'RANK'|translate}}</th>
          <th>{{'FirstName' | translate}}</th>
          <th>{{'LastName' | translate}}</th>
          <th>{{'Points'|translate}}</th>
          <th>{{'WORKSHOP.JOINED' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
     
<!--      <table id="example" class="table table-striped table-bordered" style="width:100%">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>{{'RANK'|translate}}</th>-->
<!--          <th>{{'FirstName'|translate}}</th>-->
<!--          <th>{{'LastName'|translate}}</th>-->
<!--          <th>{{'Points'|translate}}</th>-->
<!--          <th>{{'SINCE'|translate}}</th>-->

<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let u of users;let i=index">-->
<!--          <td>{{i+1}}</td>-->
<!--          <td>{{u.first_name}}</td>-->
<!--          <td>{{u.last_name}}</td>-->
<!--          <td>{{u.points}}</td>-->
<!--          <td>{{u?.created_at |date :'MM, yyyy'}}</td>-->
<!--        </tr>-->

<!--        </tbody>-->
<!--      </table>-->
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="parameter-title-custom"  >{{'CurrentPassword' | translate}}</label>
        <input  [(ngModel)]="user.old_password" type="password"  class="form-control parameter-input"
               name="password">
               <label
               for="" style="margin-top: 3px;" 
                 *ngIf="oldPasswordWrong"
               class="form-text text-danger" >{{'WrongPassword'| translate}} </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="Submit()">{{'Submit' | translate}}</button>
      </div>
    </div>
  </div>
</div>


<app-loading-spinner></app-loading-spinner>
