.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #dd3333; /* red */
}
.box {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 4px 4px #f2f2f2;
}
.parameter {
  margin: 12px 0px;
}
.parameter-title{
  width: 80px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  color:#a2a2a2;
}
.parameter-title-custom{

  font-weight: 500;
  color:#a2a2a2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.parameter-input{
  border-radius: 4px;
  border: solid 1px #707070;
}
.custom-control-label{
  font-size: large;
}
.custom-control-input{
  width: 10rem;
}
.input-name{
  display: flex;
}
.parameter-input-email{
  border-radius: 4px;
  border: solid 1px #707070;
}

.field-margin {
  margin: 12px 0;
}


.eventizer-btn{
  width: 100%;
  background-color: #00444f;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.6rem 0.8rem;
  position: relative;
  border: unset;

}
.eventizer-btn-icon{
  position: absolute;
  right: 12px;
}


.securinets-main-content{
  padding: 2rem;
  background-color: white;

}

.profile-container{
  width: 150px;
  height: 150px;
  background: orange;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: auto
}

.profile-picture{
  width: 100%;
  height: 100%;
}

.edit-picture{
  width: 80px;
  height: 50px;
  background: gray;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 18px 0 0 0;
}

.edit-icon{
  width: 24px;
  height: 24px;
  margin: 10px;
  cursor: pointer;
}
.edit-label{
  position: absolute;
  bottom: 10px;
  right: 24px;
}
.edit-icon-label{
  width: 18px;
  height: 18px;
}

.edit-label-email{
  position: absolute;
  bottom: 320px;
  right: 56px;
}
.btn {
  border: solid 1px #707070;
  display: inline-block;
  position: relative;
  text-align: center;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
  display: none;
}
input[type="radio"].toggle + label {
  cursor: pointer;
  min-width: 147px;
}
input[type="radio"].toggle + label:hover {
  background: none;
  color: #1a1a1a;
}
input[type="radio"].toggle + label:after {
  background: #1a1a1a;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
  border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
  left: 100%;
}
input[type="radio"].toggle.toggle-right + label {
  margin-left: -1px;
}
input[type="radio"].toggle.toggle-right + label:after {
  left: -100%;
}
input[type="radio"].toggle:checked + label {
  cursor: default;
  background: #29a746;
  color: #fff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
.checked {
  cursor: default;
  background: #29a746;
  color: #fff;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
  left: 0;
}

.file_upload {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height:100%;
}
.fas{
  font-size: 19px
}

.pointer {cursor: pointer;}

.no-data-available {
  text-align: center;
}

.list-ranking-table {
  table-layout: fixed;
  border-collapse: collapse;

}

.list-ranking-table th {
  white-space: nowrap;
  text-align: left;
  zoom: 60%;
  font-size: 20px;
}

.list-ranking-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  zoom: 90%;
}

@media only screen and (max-width: 480px) {
  .list-ranking-table {
    overflow-x: auto;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .list-ranking-table th {
    white-space: nowrap;
    text-align: left;
    zoom: 45%;
    font-size: 20px;
  }

  .list-ranking-table td {
    font-size: x-small;
  }
}
