// #intro {
//     width: 100%;
  

//     background-size: cover;
//     overflow: hidden;
//     position: relative;
//   }
  
//   @media (min-width: 1024px) {
//     #intro {
//       background-attachment: fixed;
//     }
//   }
//   @media (min-width: 900px and max-width 1050)  {
//     #team {
      
//         position: relative;
//         margin-right: 1200;    }
  
//   }
  
//   #intro:before {
//     content: "";
//     background: rgba(6, 12, 34, 0.8);
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     right: 0;
//   }

  
//   #intro .intro-container {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     top: 150px;
//     right: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     padding: 0 15px;
//   }
  
//   @media (max-width: 991px) {
//     #intro .intro-container {
//       top: 70px;
//     }
//   }
  
//   #intro h1 {
//     color: #fff;
//     font-family: "Raleway", sans-serif;
//     font-size: 56px;
//     font-weight: 600;
//     text-transform: uppercase;
//   }
  
//   #intro h1 span {
//     color: #f82249;
//   }
  
//   @media (max-width: 991px) {
//     #intro h1 {
//       font-size: 34px;
//     }
//   }
  
//   #intro #grandP {
//     color: #ebebeb;
//     font-weight: 700;
//     font-size: 20px;
//   }
  
//   @media (max-width: 991px) {
//     #intro p {
//       font-size: 16px;
//     }
//   }


#intro {
    
 width: 100%;

    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro:before {
    content: "";
    background: rgba(17, 27, 65, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro #intoh1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #f82249;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro #introp {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro #introp {
      font-size: 16px;
    }
  }