<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2 *ngIf="!content">404 - {{'NotFondPage' | translate}} !</h2>
            <h2 *ngIf="content">{{content}}</h2>
        </div>
        <a href="/" *ngIf="!content">{{'GoTOHomepage' | translate}}</a>
        <a href={{path}} *ngIf="content">{{goTo | translate}}</a>
    </div>
</div>
