
div.login-box {
    float: none;
    clear: both; }
    div.login-box .panel-body {
      padding-left: 20px;
      padding-right: 20px; }
    div.login-box .panel-footer p {
      margin-top: 10px; }
    div.login-box .panel-footer label {
      font-weight: normal; }
  
  .login-box .input-icon i {
    color: #555;
    opacity: 0.6;
    border-right: 1px solid #ccc;
    padding-right: 5px; }
  
  
    .login-box-btm {
      margin-top: 20px;
      margin-bottom: 20px; }
  
                      .input-icon {
                        position: relative; }
                        .input-icon input {
                          padding-left: 45px; }
                        .input-icon i {
                          font-size: 16px;
                          left: 6px;
                          line-height: 22px;
                          position: absolute;
                          top: 9px; }

                          .card-footer {
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset; }
  
                      