<div class="main-container mt-5">
    <div class="container ">
        <div class="row mb-3">
            <div class="col-sm-5 login-box">
                <div class="card card-default" style="margin-top: 2rem;height: 85%;">
                    <div class="panel-intro text-center mt-3 "style="margin-top:0%">
                        <h4>{{'ResetPassword' | translate }} </h4>
                    </div>
                    <div class="card-body" [ngBusy]="busy" >
                        <form role="form" style="margin-top: 2rem;">
                         
                                <div class="form-group">
                                    <label for="user-pass" class="control-label">{{'Password'|translate}}:</label>
    
                                    <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i>
                                        <input required #password=ngModel name="password" [(ngModel)]="pwd"  type="password" class="form-control" placeholder="Password"
                                        placeholder="{{'Password'|translate}}"    id="user-pass">
                                    </div>
                                      
                                    <label
                                    for="" style="margin-top: 3px;" 
                                    *ngIf="(isSubmitted && password.errors?.required) ||  
                                    (password.errors?.required && (password.dirty || password.touched))"
                                    class="form-text text-danger">{{'required' | translate}} </label>
    
                                    <label
                                    for="" style="margin-top: 3px;" 
                                    *ngIf="(passwordError && isSubmitted)"
                                    class="form-text text-danger"> password must be 8 digits length  & contains at minimum:
                                    <ul>
                                        <li> one number </li>
                                        <li> one uppercase letter </li>
                                        <li> one uppercase letter </li>
                                    </ul>
                                </label>
                                
                                    
                                </div>
                            <div class="form-group">
                                <a  (click)="resetPassword()" style="color: white; margin-top: 2rem;" class="btn btn-primary  btn-block">{{'Submit' | translate}}</a>
                            </div>

                        </form>
                    
                   
                </div>

        </div>
    </div>
</div>
</div>