

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #f82249;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}
.dropdown {
    .down-open-big {
      display: inline;
    }

    &.lang-menu {
      margin-top: 10px;
      margin-bottom: 10px;

      .btn {
        width: 100%;
      }
    }
  }

 li.lang-menu {
      margin-left: 5px;
      font-size: 12px;
      height: 40px;
      line-height: normal;
    }

   > li.lang-menu .btn,  > li.lang-menu .btn {
      height: 40px;
      line-height: normal;
      padding: 12px;
      font-size: 12px;
      font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    }


@media (min-width: 768px) {
  .lang-menu .dropdown-menu .flag-icon {
    margin-right: 5px;
  }
}
.language {
  color: white !important;
}
.language:hover {
  cursor: pointer;
  color: white !important;

}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}



.back-to-top:focus {
  background: #e0072f;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #e0072f;
  color: #fff;
}
li .dropdown-menu > li.active, .nav-item .dropdown-menu > li.active {
  background:black;
  font-weight: bold;
}


button.flag-menu {
display: inline-block;
position: relative;
margin-right: 10px;

.flag-menu .flag-icon {
  width: 22px;
  height: 16px;
}
}

#contact-nav{
  margin-right: 300px;
}

@media (min-width:1400px) {
  #contact-nav{
    margin-right: 400px;
  }
}
/* Sections Header 
--------------------------------*/
.section-header {
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.section-header::before {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #f82249;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-header h2 {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

.section-with-bg {
  background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: black;
}





#header.header-scrolled, #header.header-fixed {
  background: white;
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
  color: #060c22;;
}

#header #logo h1 {
  font-size: 20px;
  position: absolute;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 50px;
  color: white;
}

#header #logo h1 span {
  font-size: 26px;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}


#header #logo h1 a, #header #logo h1 a:hover {
  color: rgb(206, 42, 42);
}

#header #logo img {
  padding-bottom:50px ;
  margin: 0;
  height: 300vh;
  max-height: 90px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
  #nav-menu  {
    float: center;
    display: block;
    text-align: left;
  }
}

.serparce {
  margin-left: 410px;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}
.nav-menu ul li {
  min-width: 10px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: center;
  margin-left:370px;
}
.login-section{
  margin-left:370px;


  position: absolute;



}
.dropdown {
  .down-open-big {
    display: inline;
  }

  &.lang-menu {
    margin-top: 10px;
    margin-bottom: 10px;

    .btn {
      width: 100%;
    }
  }
}

li.lang-menu {
    margin-left: 5px;
    font-size: 12px;
    height: 40px;
    line-height: normal;
  }

 > li.lang-menu .btn,  > li.lang-menu .btn {
    height: 40px;
    line-height: normal;
    padding: 12px;
    font-size: 12px;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  }


@media (min-width: 768px) {
.lang-menu .dropdown-menu .flag-icon {
  margin-right: 5px;
}
}
.language {
color: #f8f8f8 !important;
}
.language:hover {
cursor: pointer;
color:#323035  !important;
}



/* Nav Meu Styling */
.nav-menu a {
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}


.nav-menu .menu-active a, .nav-menu a:hover {
  color: #fff;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f82249;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu li.buy-tickets a {
  color: #fff;
  background: #f82249;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.buy-tickets a:hover {
  background: none;
}

.nav-menu li.buy-tickets:hover a:before, .nav-menu li.buy-tickets.menu-active a:before {
  visibility: hidden;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  border-radius: 3px;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.nav-menu ul li:hover > a {
  background: #f82249;
  color: #fff;
}

.nav-menu ul ul {
  margin: 0;
}


.navbar-right ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.navbar-right ul ul {
  margin: 0;
}
.navbar-right ul li:hover > a {
  background: #f82249;
  color: #fff;
}

#header a.active {
  background-color: #f82249;
  color: white;
}



.topnav {

  display: none;

}
.bs-example{
  display: none;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Raleway", sans-serif;

}
.bs-example img{
  height: 7vh;
}

.active {
  color: white;
  display: block;
}

.topnav .icon {
  display: none;
  padding-top: 13px;
  padding-bottom: 13px;

}



.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: RED;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (max-width: 1050px) {
  .topnav {

    display: block;
    width: 60% ;
  background-color: black;
  position: fixed;
  left: -1.2rem;
  top: 0;

  z-index: 999999;
  }
  .bs-example{
    display: block;

  }
  .bg-dark {
    background-color: #000000 !important;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }



}

@media screen and (max-width: 1050px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;


  }
  #header{
    display: none;

  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .topnav.responsive {position: fixed;}
  // .topnav.responsive .icon {
  //   position: absolute;
  //   right: 0;
  //   display: block;

  //   top: 0;
  // }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;

  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


.cta-section .cta-text {
  float: none;
}
.cta-section .primary-btn.cta-btn {
  float: none;
}
/*---------------------
  Cta Section
-----------------------*/

.cta-section {
	background: -o-linear-gradient(45deg, black, black);
	background: linear-gradient(45deg, black,  black);
	padding: 38px 0;
}


.cta-section .cta-text {
	float: left;
}

.cta-section .cta-text h3 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.cta-section .cta-text p {
	color: #ffffff;
	margin-bottom: 0;
}

.cta-section .primary-btn.cta-btn {
	float: right;
	border-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #ffffff), to(#ffffff)), -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(0%, #ffffff));
	background-image: -o-linear-gradient(left, #ffffff 100%, #ffffff 100%), -o-linear-gradient(left, #ffffff 0%, #ffffff 0%);
	background-image: linear-gradient(to right, #ffffff 100%, #ffffff 100%), linear-gradient(to right, #ffffff 0%, #ffffff 0%);
	margin-top: 14px;
}
.contact-section {
	background: #151515;
	padding-top: 95px;
}

.contact-section .contact-info {
	margin-bottom: 50px;
}

.contact-section .contact-info h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.contact-section .contact-info ul li {
	list-style: none;
	font-size: 18px;
	color: #ffffff;
	line-height: 48px;
}

.contact-section .contact-info ul li i {
	color: #e4381C;
	margin-right: 18px;
}

.contact-section .contact-address {
	margin-bottom: 40px;
}

.contact-section .contact-address h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 30px;
}

.contact-section .contact-address ul li {
	list-style: none;
	font-size: 18px;
	color: #ffffff;
	line-height: 25px;
	position: relative;
	padding-left: 35px;
}

.contact-section .contact-address ul li i {
	font-size: 18px;
	color: #e4381C;
	margin-right: 18px;
	position: absolute;
	left: 0;
	top: 7px;
}

.contact-form h4 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 48px;
}

.contact-form form input {
	width: 100%;
	height: 48px;
	border-radius: 2px;
	background: #2d2d2d;
	border: none;
	padding-left: 20px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #a6a6a6;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	border: 1px solid #131313;
}

.contact-form form input::-webkit-input-placeholder {
	font-weight: 600;
}

.contact-form form input::-moz-placeholder {
	font-weight: 600;
}

.contact-form form input:-ms-input-placeholder {
	font-weight: 600;
}

.contact-form form input::-ms-input-placeholder {
	font-weight: 600;
}

.contact-form form input::placeholder {
	font-weight: 600;
}

.contact-form form input:focus {
	background: #ffffff;
	color: #151515;
	font-weight: 600;
}

.contact-form form textarea {
	width: 100%;
	height: 198px;
	border-radius: 2px;
	background: #2d2d2d;
	border: none;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 16px;
	color: #a6a6a6;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	resize: none;
	margin-bottom: 25px;
	border: 1px solid #131313;
}

.contact-form form textarea::-webkit-input-placeholder {
	font-weight: 600;
}

.contact-form form textarea::-moz-placeholder {
	font-weight: 600;
}

.contact-form form textarea:-ms-input-placeholder {
	font-weight: 600;
}

.contact-form form textarea::-ms-input-placeholder {
	font-weight: 600;
}

.contact-form form textarea::placeholder {
	font-weight: 600;
}

.contact-form form textarea:focus {
	background: #ffffff;
	color: #151515;
	font-weight: 600;
}

.contact-form form .c-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	background: -o-linear-gradient(45deg, #8b211e, #8b211e);
	background: linear-gradient(45deg, #8b211e, #8b211e);
	padding: 12px 40px;
	border: none;
	font-family: "Oswald", sans-serif;
	border: 1px solid #000000;
  border-radius: 2px;
  margin-bottom: 10px;
}
.dropdown-item:hover{
  background: #f82249 !important;
  color: #fff !important;
}
