<div id="wrapper" >

	<div class="responsive-main">
	<!--Mobile nav ya hama-->

	<!-- <div class="topnav" id="myTopnav">
			<a href="#home" class="active"><img src="../../assets/images/logo.png" alt="" title="">
				SECURINETS</a>


				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
					<span class="navbar-toggler-icon"></span>
				</button>

			<a class="btn btn-block   btn-border btn-post btn-primary nav-link"  routerLink="/auth/login" *ngIf="!isToken"
			>{{'LOGIN'| translate}}</a>

			<div class="dropdown">
			  <button  class="dropbtn" *ngIf="isToken" >{{user?.first_name}} {{user?.last_name}}
				<i class="fa fa-caret-down"></i>
			  </button>
				<div class="dropdown-content">
					<a routerLink="/user-workspace/me"><i class="fa fa-user" aria-hidden="true"></i>
						{{'MY_PROFILE'|translate}} </a>

				<a href="#" (click)="logout()"> {{'Logout'|translate}} </a>
			  </div>
			</div>
			<div class="dropdown">
				<button *ngIf="user && (user.privilege_id == 1 || user.privilege_id == 2 )" class="dropbtn">{{'WORKSHOP.WORKSHOPS'|translate}}
				  <i class="fa fa-caret-down"></i>
				</button>
				  <div class="dropdown-content">
					<a routerLink="/workshop/list" ><i class="fa fa-list" aria-hidden="true"></i>
						{{'WORKSHOP.List'|translate}} </a>
						<a routerLink="/workshop/add"><i class="fa fa-plus" aria-hidden="true"></i>
							{{'WORKSHOP.ADD_WORKSHOP'|translate}} </a>
				</div>
			  </div>
			<a *ngIf="!user || (user.privilege_id ==3)" class="nav-link"  routerLink="/workshop/list">{{'WORKSHOP.WORKSHOPS'|translate}}</a>
			<a routerLink="/event">Events</a>


	</div> -->


	<div class="bs-example">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a href="/" class="active"><img src="../../assets/images/logo.png" alt="" title="">
				SECURINETS</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="/" class="nav-item nav-link active">{{'HOME'| translate}}</a>
					<a routerLink="/event" class="nav-item nav-link">{{'EVENTS'| translate}}</a>
					<a routerLink="/workshop/list" class="nav-item nav-link">{{'WORKSHOP.WORKSHOPS'|translate}}</a>
					<a routerLink="/workshop/add"  *ngIf="user && (user.privilege_id == 1 || user.privilege_id == 2 )" routerLink="/workshop/add" class="nav-item nav-link">{{'WORKSHOP.ADD_WORKSHOP'|translate}}</a>
					<a (click)="navigateToContact('footer')" class="nav-item nav-link" >Contact </a>
					<li class="nav-item dropdown" *ngIf="user">
						<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{user?.first_name}} {{user?.last_name}} <i style=" color:white" class="fa fa-angle-down fa-sm"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;">

						  <a  class="dropdown-item"  style="color: white;" routerLink="/user-workspace/me"><i class="fa fa-user" aria-hidden="true"></i>
							{{'MY_PROFILE'|translate}} </a>
						  <div class="dropdown-divider"></div>
						  <a class="dropdown-item"  (click)="logout()"  style="color: white;" ><i class="fa fa-sign-out" aria-hidden="true"></i>
							{{'Logout'|translate}} </a>
						</div>
					  </li>
				</div>

				<div class="navbar-nav ml-auto" >
					<a type="button" routerLink="/auth/login" *ngIf="!user" class=" nav-item nav-link btn btn-primary">Login</a>
				</div>
				<div class="navbar-nav">
				<li class="nav-item dropdown" >
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span style=" color:white">{{selectedLang| translate}} </span><img src="{{flags[selectedLang]}}" alt="selected-lang-flag"
						class="flag-icon selected-flag-icon" style="height: 15px;color: white;background-color: black;"> <i style=" color:white" class="ml-1 fa fa-angle-down fa-sm"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: black;" >
					  <a style="color: white;" class="dropdown-item"  (click)="changeLang('fr')"><img style="height: 15px;"
						src="{{flags.fr}}" alt="fr-lang-flag"
						class="flag-icon"> {{'fr'| translate}} </a>
						<a style="color: white;" class="dropdown-item"  (click)="changeLang('en')"><img style="height: 15px;"
							src="{{flags.en}}" alt="en-lang-flag"
							class="flag-icon"> {{'en'| translate}} </a>
					</div>
				  </li>
				</div>
			</div>
		</nav>
	</div>


	<!--Mobile nav  end-->

	<header id="header">

			<div id="logo" class="pull-left">

			  <a href="/" class="scrollto"><h1>SECURINETS</h1><img src="../../assets/images/logo.png" alt="" title=""></a>
			</div>

			<nav id="nav-menu-container">
			  <ul class="nav-menu">
				<li class="home menu-active"><a routerLink="/">{{'HOME'| translate}}</a></li>
          <li class="event"><a routerLink="/event">{{'EVENTS'| translate}}</a></li>
				<li class="workshop" *ngIf="!user || (user.privilege_id ==3)"><a    routerLink="/workshop/list">{{'WORKSHOP.WORKSHOPS'|translate}}</a></li>
				<li  class="workshop" *ngIf="user && (user.privilege_id == 1 || user.privilege_id == 2 ) "  class="dropdown no-arrow nav-item"><a  data-toggle="dropdown">
             <span>{{'WORKSHOP.WORKSHOPS'|translate}} </span> <i class="fa fa-angle-down fa-sm"></i>  </a>
			<ul class="dropdown-menu user-menu dropdown" style="cursor:pointer;background-color: black;">
			<li  class=" active dropdown-item"  ><a routerLink="/workshop/list" style="color: white;" ><i class="fa fa-list" aria-hidden="true"></i>
			{{'WORKSHOP.List'|translate}} </a>
			</li>
			<li class="active dropdown-item"><a routerLink="/workshop/add"  style="color: white;"><i class="fa fa-plus" aria-hidden="true"></i>
			{{'WORKSHOP.ADD_WORKSHOP'|translate}} </a>
</li>
</ul>
</li>

			<li  id="contact-nav"><a (click)="navigateToContact('footer')" >Contact </a></li>

</ul>


<ul class="nav navbar-nav ml-auto navbar-right" style="  background:black;">
	<div class="row">

	<li  class="postadd nav-item" *ngIf="!isToken" id="button-ajout">
		<a class="btn btn-block   btn-border btn-post btn-primary nav-link"  routerLink="/auth/login"   style="width: 100%; position: relative;  left: -7rem ;padding-right: 2rem; padding-left:2rem; white-space: nowrap;"
			>{{'LOGIN'| translate}}</a>
	  </li>
	  <li  *ngIf="isToken" class="dropdown no-arrow nav-item" style="position: relative; right:4rem"><a href="#" class=" nav-link"
		data-toggle="dropdown">
	<span style="color: white;" >{{user?.first_name}} {{user?.last_name}} </span> <i style=" color:white" class="fa fa-angle-down fa-sm"></i></a>
<ul class="dropdown-menu user-menu dropdown" style="cursor:pointer;background-color: black;">
<li  class=" active dropdown-item"  ><a style="color: white;" routerLink="/user-workspace/me"><i class="fa fa-user" aria-hidden="true"></i>
	{{'MY_PROFILE'|translate}} </a>
</li>
<li  (click)="logout()" class="active dropdown-item"><a style="color: white;" ><i class="fa fa-sign-out" aria-hidden="true"></i>
	{{'Logout'|translate}} </a>
</li>
</ul>
</li>
<li  class="dropdown no-arrow nav-item" style="position: relative; left:-2rem" ><a href="#" class=" nav-link" data-toggle="dropdown">
	<span style=" color:white">{{selectedLang| translate}} </span><img src="{{flags[selectedLang]}}" alt="selected-lang-flag"
	 class="flag-icon selected-flag-icon" style="height: 15px;color: white;background-color: black;"> <i style=" color:white" class="ml-1 fa fa-angle-down fa-sm"></i></a>
	 <ul class="dropdown-menu user-menu dropdown" style="cursor:pointer;background-color: black;">
		<li   class="active dropdown-item"><a style="color: white;"   (click)="changeLang('fr')"><img style="height: 15px;"
			src="{{flags.fr}}" alt="fr-lang-flag"
			class="flag-icon"> {{'fr'| translate}} </a>
		  </li>
		  <li   class="active dropdown-item"><a style="color: white;" (click)="changeLang('en')"><img style="height: 15px;"
			src="{{flags.en}}" alt="en-lang-flag"
			class="flag-icon"> {{'en'| translate}} </a>
		  </li>
</ul>

</li>
</div>




</ul>
<!-- <ul class="nav navbar-nav  " style="  background:black;">

</ul> -->


			</nav>


		</header>
	  </div>
	  	<!--Mobile version Nav start -->

		<!--Mobile version Nav end -->

	<router-outlet></router-outlet>
 <app-footer  id="footer"></app-footer>
  <!-- <app-loading-spinner></app-loading-spinner> -->



</div>
<app-loading-spinner></app-loading-spinner>
