<div *ngIf="workshops" >
<section id="intro" >
  <div class="intro-container" >
    <h1 id="intoh1" class="mb-4 pb-0">{{'WORKSHOP.WORKSHOPS' | translate}}</h1>
    <p  id="introp" class="mb-4 pb-0">{{'WORKSHOP.Knowlegde' | translate}}</p>

  </div>
</section>
<!-- End Intro Section -->

<!-- <div>
  <br>
  <button
    *ngIf ="user && user.privilege_id == 2 || user.privilege_id == 1 "
    class="btn btn-info  pull-right mr-5" routerLink="/workshop/add"><i class="fa fa-plus"></i> {{'WORKSHOP.ADD_WORKSHOP'|translate}}
  </button>
  <br>
</div> -->
<div class="container mt-5">
  <div class="row">
<div class="col-md-3" *ngIf="user && (user.privilege_id == 1 || user.privilege_id == 2)" >
<div class="form-group">
  <select class="form-control"  (click)="selectChoice($event.target.value)" id="exampleFormControlSelect1">
    <option  *ngFor="let key of workshopsFilter" value={{key.value}} >{{ key.key | translate }}</option>
  </select>
</div>
</div>




  <div class="input-group col-md-4" style="margin-left: 2rem;">
    <input class="form-control " [(ngModel)]="search" type="search"  placeholder="Search ..." id="example-search-input">
    <span class="input-group-append">
      <button class="btn btn-outline-secondary"  *ngIf="user && (user.privilege_id == 1 || user.privilege_id == 2)"  style="height:69%" type="button">
          <i class="fa fa-search" ></i> 
      </button>
      <button class="btn btn-outline-secondary"  *ngIf="user && (user.privilege_id == 3)"  style="height:97%" type="button">
          <i class="fa fa-search" ></i> 
      </button>
      
    </span>

</div>


<div class="col-md-3">

  <button (click)="filter()" style="text-align: center; margin-left:7rem" class="btn btn-primary" id="exampleFormControlInput1"> Filter <i class="fa fa-filter" style="margin-left: 1rem;"></i></button>

</div>
</div>
</div>

<div infiniteScroll 
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="true"
     class="container mt-5">
     <div class="row">
  <div *ngFor="let workshop of workshops;let i=index" class="column mb-5 " (mouseenter)="manageDescription(i)"
       (mouseleave)="manageDescription(i)" style="cursor:pointer">
    <!-- Post-->
    <div class="col-md-4" id="card" >
    <div class="post-module" >
      <!-- Thumbnail-->
      <div class="thumbnail">
        <div class="duration no-padding" *ngIf="workshop?.duration">
          <span><i class="fa fa-clock-o"></i> {{workshop?.duration}} Min</span>
        </div>
        <div class="date" *ngIf="workshop?.start_date">
          <div class="day">{{workshop?.start_date|date:'d'}}</div>
          <div class="month">{{workshop?.start_date|date:'LLLL'}}</div>
          <div class="month">{{workshop?.start_date|date:'H'}}h{{workshop?.start_date|date:'mm'}}</div>
        </div>
       
        <img src= "{{workshop.url_photo ?  backUrl+'/workshop/photo/'+workshop.url_photo : 
        'https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg' }}"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Workshop Type</div>
        <button *ngIf="user && workshop.workshop_users.length > 0 && workshop.workshop_users[0].user_id == user.user_id" type="button" class="btn btn-success pull-right" (click)="joinWorkshop(workshop.workshop_id)">{{'WORKSHOP.JOINED'|translate}}</button>
        <span class="badge badge-primary price-tag big" *ngIf=" (workshop.workshop_users.length == 0 ||  workshop.workshop_users[0].user_id != user.user_id ) && (show[i] || workshop.available_places == 0) && (!user || (user.user_id !== workshop.moderator_id && (workshop.workshop_users.length === 0 || workshop.workshop_users[0].user_id == user.user_id )   ))  " style="float: right;">{{'WORKSHOP.Complet' | translate}}</span>
        <h1 class="title">{{workshop?.name}}</h1>
        <h2 class="sub_title">{{workshop?.class_room}}</h2> 
        <p class="description {{'desc' + i}}">{{workshop?.description}}</p>
        <hr/>
        <div class="post-meta">

          <button *ngIf="user && user.privilege_id!=3 && user.user_id == workshop.moderator_id" class="btn btn-warning" [routerLink]="['/workshop/edit',workshop.workshop_id]">{{'EDIT'|translate}} <i class="fa fa-pencil"></i></button>
          <button *ngIf="user && user.privilege_id!=3 && user.user_id == workshop.moderator_id" class="btn btn-info pull-right" [routerLink]="['/workshop/detail',workshop.workshop_id]">{{'Presence' | translate}}<i class="fa fa-info" style="margin-left: 0.5rem;"></i></button>  
          <button *ngIf="( (!user && !show[i])  || (user && (workshop.workshop_users.length == 0 || workshop.workshop_users[0].user_id!==user.user_id) && user.user_id != workshop.moderator_id && !show[i] )) " type="button" class="btn btn-success" (click)="joinWorkshop(workshop.workshop_id)">{{'WORKSHOP.JOINWorkshop'|translate}}<i class="fa fa-sign-in" style="margin-left:0.5rem ;" ></i></button>
          <button *ngIf=" user && workshop.workshop_users.length > 0 && workshop.workshop_users[0].user_id == user.user_id" type="button" class="btn btn-danger " (click)="quitWorkshop(workshop.workshop_id)">{{'WORKSHOP.QUIT'|translate}}<i class="fa fa-sign-out" style="margin-left:0.5rem "></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
 
  <app-spinner [show]="spinnerShow"></app-spinner>
</div>

</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'JoinUs' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{'MustSignIN' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="redirectTo(1)">{{'SignIn' | translate}}</button>
        <button type="button" class="btn btn-secondary" (click)="redirectTo(2)" >{{'SignUp' | translate}}</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="(workshops && workshops.length == 0 && (search=='' && choice =='null' ))|| !workshops">
  <app-erro-page [content]="'No workshops available'" [goTo]="'GoTOHomepage'" ></app-erro-page>
</div>
<div *ngIf="(workshops && workshops.length == 0 && (search !=='' || choice !=='null' ))" >
  <app-erro-page [content]="'No workshops available'" [goTo]="'Refresh'" [path]="'/workshop/list'" ></app-erro-page>
</div>
</div> 

<app-loading-spinner></app-loading-spinner>
