<!-- all workshop details here  "is_moderator && workshop.workshop_users.length > 0-->


<div *ngIf="is_moderator && workshop.workshop_users.length > 0" [ngBusy]="busy" style="margin-top: 6rem;">
    <h1 class="workshop_title">Note presence for : {{workshop?.name}}</h1>
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					<table data-vertable="ver1">
						<thead>
							<tr class="row100 head">
								<th class="column100 column1" data-column="column1">{{'WORKSHOP.PARTICIPANTS'|translate}}</th>
								<th class="column100 column2" data-column="column2">{{'WORKSHOP.PRESENCE'|translate}}</th>
								<th class="column100 column2" *ngFor="let eva of workshop.item_evaluation">
									{{eva.label}}
								</th>
							</tr>
						</thead>
						<tbody *ngFor="let workshop_user of workshop.workshop_users">
							<tr class="row100">
								<td class="column100 column1" data-column="column1">{{workshop_user?.user.first_name}} {{workshop_user?.user.last_name}}</td>
								<td class="column100 column2" data-column="column2">
                                    <input type="checkbox" id="present" name="present" [(ngModel)]='workshop_user.is_present'
									></td>
									<td  *ngFor="let item of workshop_user.workshop_user_evaluation">
											<textarea type="text" placeholder="note" [(ngModel)]="item.note"></textarea>
									</td>
							</tr>
						</tbody>
					</table>
				</div>
				<button type="button" class="btn btn-secondary save-button pull-right" (click)="savePresence(workshop.workshop_id)">{{'WORKSHOP.SAVE_PRESENCE'|translate}}         <i  class="fa fa-floppy-o"></i></button>

			</div>
		</div>
</div>
<div *ngIf="is_moderator && workshop.workshop_users.length == 0">
 <app-erro-page [content]="'Invite users to sign in'" [goTo]="'WORKSHOP.List'" [path]="'/workshop/list'"></app-erro-page>
</div>


<!-- <div class="container" [ngBusy]="busy" *ngIf="!is_moderator">
	<div class="row">
		<div class="col-md-9 mt-5 page-content col-thin-right">
			<div class="ev-image animated fadeIn">
				<img class="img-responsive" src="{{workshop.url_photo ?  backUrl+'/workshop/photo/'+workshop.url_photo : 
				'https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/photo-1429043794791-eb8f26f44081.jpeg' }}" alt="img"/>
	  
				
			  </div>
			  <div class="event-details-title">
				<h1 class="title">
				  <span class="auto-title left">{{ workshop.name }} </span>
				</h1>
			  </div>
			  <div class="inner inner-box ads-details-wrapper event">
				<div class="Ads-Details">
				  <div class="event-details">
					<h1 class="title">
					  <span class="auto-title left">Description</span>
					</h1>
				  </div>
				  <div class="ads-details-info mt-3 pb-5">
					  <p>{{workshop.description}}</p>
				  </div>
				  </div>
				  </div>
		</div>
		<div class="col-md-3 page-sidebar-right mt-5">
			<aside>
				<div class="card sidebar-card">
					
					<div class="card-header">
						DETAILS
						<span class="badge badge-primary price-tag big " *ngIf="(!joined || !logged_user) && workshop.available_places == 0" style="float: right;">{{'WORKSHOP.Complet' | translate}}</span>
						<span class="badge badge-warning price-tag big " *ngIf="joined" style="float: right;">{{'WORKSHOP.JOINED'|translate}}</span>
					</div>
					
			
					<div class="card-content">
						<div class="card-body text-left">
							<div class="ev-details">
								<div class="row">
									
								  <p >
									<span>{{'Duration' | translate}}: {{workshop.duration}} min</span>
								  </p>
			  
								</div>
			  
		  
		</div>
		<div class="ev-details mt-3" >
			<p>
				<span>
					{{'Availableplaces' | translate}}: {{workshop.available_places}}
				</span>
			</p>
		</div>	
		<div class="ev-details mt-3" >
			<p>
				<span>
					Class room: {{workshop.class_room}}
				</span>
			</p>
		</div>	
		<div class="ev-info-details mt-3">
				<button class="btn btn-success" (click)="joinWorkshop()" *ngIf="workshop.available_places > 0 && (!joined || !logged_user)">{{'WORKSHOP.JOINWorkshop' | translate}} <i class="fa fa-sign-in"  style="margin-left: 1rem ;"></i> </button>
			
			</div>

	</div>
				</div>
				</div>
		</aside>
		</div>

	</div>

</div>	 -->



<div class="modal  fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h3 class="modal-title">{{'JoinUs' | translate }}</h3>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>{{'MustSignIN' | translate}}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" (click)="redirectTo(1)">{{'SignIn' | translate}}</button>
		  <button type="button" style="margin-left:1rem" class="btn btn-secondary" (click)="redirectTo(2)" >{{'SignUp' | translate}}</button>
		</div>
	  </div>
	</div>
  </div>

