
.workshop_title{
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
  
    padding-top:25px;
}

.save-button{
font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
margin:15px;
padding:10px;
color:white;
background-color: #dd3333;
font-weight:unset;
}
.save-button:active{
  background-color:#292b2c !important;
}
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  * {
      margin: 0px; 
      box-sizing: border-box;
      
  }

  
  /* ------------------------------------ */
  a {
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /* ------------------------------------ */
  h1,h2,h3,h4,h5,h6 {margin: 0px;}
  
  p {margin: 0px;}
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /* ------------------------------------ */
  input {
    display: block;
      outline: none;
      border: none !important;
  }
  
  textarea {
    display: block;
    outline: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  /* ------------------------------------ */
  .btn btn-secondary save-button pull-right {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  .btn btn-secondary save-button pull-right:hover {
      cursor: pointer;
  }

  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-table100 {
    width: 100%;
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 30px;
  }
  
  .wrap-table100 {
    width: 700px;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/ 
  table {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;

    width: 100%;
    background-color: #fff;
  }
  
  th, td {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column100 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    width: 130px;
    padding-left: 25px;

  }
  
  .column100.column1 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    width: 265px;
    padding-left: 42px;

  }

  
  .row100.head th {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    padding-top: 24px;
    padding-bottom: 20px;
  }
  
  .row100 td {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    padding-top: 18px;
    padding-bottom: 14px;
  }
  
  
  /*==================================================================
  [ Ver1 ]*/
  .table100.ver1 td {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #808080;
    line-height: 1.4;
  }
  
  .table100.ver1 th {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
  
    background-color: #dd3333;
  }
  
  .table100.ver1 .row100:hover {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;

  }
  
  .table100.ver1 .hov-column-ver1 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    
  }
  
  .table100.ver1 .hov-column-head-ver1 {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background-color: #ffe8e8 !important;
  }
  
  .table100.ver1 .row100 td:hover {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    background-color: #f2f2f2;
    color: #fff;
    
  }
  .ev-info-details {
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  
  .ev-info-details .ev-icon {
    vertical-align: top;
    margin: 5px 15px 0 0;
    font-size: 18px;
    color: #636c72;
  }
  
  .ev-info-details .ev-details {
    margin: 2px auto 0;
    overflow: hidden;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    flex: 1 1 auto;
    color: #636c72;
  }
  
  .ev-action {
    border-top: solid 1px #ddd;
    padding: 20px;
  }
  
  .ev-action .btn {
    margin-bottom: 10px;
  }
  
  .ev-action p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .ev-share {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    width: 100%;
    padding: 60px 0 0;
    background: -webkit-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
    background: -moz-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(top, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, transparent 36%, rgba(0, 0, 0, 0.9) 100%);
  }
  
  .ev-share .social-links {
    float: right;
    padding: 20px;
  }
  
  .ev-share .social-links a {
    color: #fff;
    font-size: 1rem;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: .8;
  }
  
  .ev-share .social-links a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
  
  .ev-share .social-links .share-text {
    text-transform: uppercase;
    letter-spacing: 0;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    font-size: 12px;
    color: #a8b2b9;
  }
  
  .ev-image {
    display: block;
    position: relative;
  }
  
  .ev-image img {
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
  
  .ev-image:hover .share-text {
    opacity: 1;
    letter-spacing: 2px;
  }
  
  .event-details-title {
    padding: 30px;
    background: #fff;
    border-bottom: solid 1px #ddd;
  }

  
  @media (max-width: 767px) {
    .event-details-title {
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      height: auto;
      clear: both;
      padding-bottom: 10px;
    }
  }
  
  .event-details-title .title {
    position: relative;
    display: block;
    padding-right: 130px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .inner-box.has-ad, .page-content .inner-box.has-aff {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 5px;
  }
  
  .main-container {
    min-height: -webkit-calc(100% - 162px);
    min-height: -moz-calc(100% - 162px);
    min-height: calc(100% - 162px);
    padding: 30px 0;
  }
  
  .inner-box {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5);
    margin-bottom: 30px;
    padding: 20px 15px;
  }
  
  .inner-box.ads-details-wrapper {
    width: 100%;
    clear: both;
  }
  
  .inner-box.add {
    background: #ffffff;
    border-radius: 3px 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 5px;
  }
  .ads-details-wrapper > h2 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .modal-dialog {
    margin-left:20rem;
    margin-top: 8rem;
  }
  .ads-details-wrapper .info-row {
    border-top: solid 1px #ddd;
    margin-bottom: 15px;
    padding-top: 10px;
  }
  
  .ads-details-wrapper.inner-box {
    padding-bottom: 0;
  }
  
  .ads-details-wrapper .content-footer {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .ads-details-info ul {
    margin-bottom: 20px;
  }
  
  .ads-details-info ol {
    margin-bottom: 20px;
  }
  
  .ads-details-info h4 {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  
  .ads-details-info .h4 {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  
  .ads-details-info h5 {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  
  .ads-details-info h6 {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  
  .ads-details-info .h6 {
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 5px;
  }
  
  .ads-details-info h1 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .ads-details-info .h1 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .ads-details-info h2 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .ads-details-info .h2 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .ads-details-info h3 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .ads-details-info .h3 {
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 10px;
  }
  // * {
  //   -webkit-box-sizing: border-box;
  //           box-sizing: border-box;
  // }
  
  // body {
  //   padding: 0;
  //   margin: 0;
  // }
  
  // #notfound {
  //   position: relative;
  //   height: 100vh;
  //   background: #030005;
  // }
  
  // #notfound .notfound {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   -webkit-transform: translate(-50%, -50%);
  //       -ms-transform: translate(-50%, -50%);
  //           transform: translate(-50%, -50%);
  // }
  
  // .notfound {
  //   max-width: 767px;
  //   width: 100%;
  //   line-height: 1.4;
  //   text-align: center;
  // }
  
  // .notfound .notfound-404 {
  //   position: relative;
  //   height: 180px;
  //   margin-bottom: 20px;
  //   z-index: -1;
  // }
  
  // .notfound .notfound-404 h1 {
  //   font-family: 'Montserrat', sans-serif;
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   -webkit-transform: translate(-50% , -50%);
  //       -ms-transform: translate(-50% , -50%);
  //           transform: translate(-50% , -50%);
  //   font-size: 224px;
  //   font-weight: 900;
  //   margin-top: 0px;
  //   margin-bottom: 0px;
  //   margin-left: -12px;
  //   color: #030005;
  //   text-transform: uppercase;
  //   text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  //   letter-spacing: -20px;
  // }
  
  
  // .notfound .notfound-404 h2 {
  //   font-family: 'Montserrat', sans-serif;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 110px;
  //   font-size: 42px;
  //   font-weight: 700;
  //   color: #fff;
  //   text-transform: uppercase;
  //   text-shadow: 0px 2px 0px #8400ff;
  //   letter-spacing: 13px;
  //   margin: 0;
  // }
  
  // .notfound a {
  //   font-family: 'Montserrat', sans-serif;
  //   display: inline-block;
  //   text-transform: uppercase;
  //   color: #ff005a;
  //   text-decoration: none;
  //   border: 2px solid;
  //   background: transparent;
  //   padding: 10px 40px;
  //   font-size: 14px;
  //   font-weight: 700;
  //   -webkit-transition: 0.2s all;
  //   transition: 0.2s all;
  // }
  
  // .notfound a:hover {
  //   color: #8400ff;
  // }
  
  // @media only screen and (max-width: 767px) {
  //     .notfound .notfound-404 h2 {
  //         font-size: 24px;
  //     }
  // }
  
  // @media only screen and (max-width: 480px) {
  //   .notfound .notfound-404 h1 {
  //       font-size: 182px;
  //   }
  // }
  

  // .fundo{
  //   animation: scales 3s alternate  infinite;
  //   transform-origin: center;
  // }
  // .pao-baixo{
  //    animation: rotatepao 14s cubic-bezier(.1,.49,.41,.97)  infinite;
  //   transform-origin: center;
  // }
  // .pao-cima{
  //    animation: rotatepao 7s 1s cubic-bezier(.1,.49,.41,.97)  infinite;
  //   transform-origin: center;
  // }
  // .olhos{animation: olhos   2s  alternate  infinite;
  //    transform-origin: center;
  // }
  
  // .left-sparks{animation: left-sparks   4s  alternate  infinite;
  //       transform-origin: 150px 156px;
  // }
  
  // .right-sparks{animation: left-sparks   4s  alternate  infinite;
  //       transform-origin: 310px 150px;
  // }
  
  // .olhos{animation: olhos   2s  alternate  infinite;
  //    transform-origin: center;
  // }
  // @keyframes scales{
  //   from { transform: scale(0.98)}
  //   to{ transform: scale(1)}
  // }
  
  // @keyframes rotatepao{
  //   0% { transform:  rotate(0deg)}
  //   50% , 60%{ transform:  rotate(-20deg)}
  //   100%{  transform:  rotate(0deg) }
   
  // }
  
  // @keyframes olhos{
  //   0%{
  //     transform: rotateX(0deg);
  //   }
  //    100%{
  //     transform: rotateX(30deg);
  //   }
  // }
  
  // @keyframes left-sparks{
  //   0%{
  //     opacity: 0; 
  //   }
    
  // }
  
  
  // .main{
    
  //   min-height: 600px;
  //   margin: 0px auto;
  //   width: auto;
  //   max-width: 460px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  
  // .path {
  //   stroke-dasharray: 300;
  //   stroke-dashoffset: 300;
  //   animation: dash 4s   alternate infinite;
  // }
  
  // @keyframes dash{
  //    0%, 30%{
  //      fill: 4B4B62;
  //     stroke-dashoffset:   0;
  //   }
  //    80%,100%{
  //      fill: transparent;
  //     stroke-dashoffset:  -200;
  //   }
     
    
  // }