@import '../user.scss';
 @import '../../shared/shared.scss';

#card{
 
    margin-top: 7rem;
    width: 80%;
    margin-right: 70px;


}
#intro {
   
    background: url(../../../assets/images/intro.png) top center;
    height: 120vh;
    background-size: cover;
}
.submite{
    margin-top: 50px;


}
.form-group{
    margin-top: 1rem;
}
@media screen and (max-width: 600px) {

    
    #card{
        margin-top: 7rem;
        width: 100%;
    
        
    
    
    }
    #intro {
   
        height: 105vh;
    }


}
