

<section id="intro" >
    <div class="intro-container-fluid">
 <div class="container-fluid" id="cardd">
    <div class="container-fluid "id="card">
        <div class="row mb-12">
            <div class="col-md-5 login-box" s>
                <div class="card card-default" style="margin-top: 2rem;height: 82%;">
                    <div class="panel-intro text-center mt-3 "style="margin-top:0%">
                        <h2>{{'SignIn' | translate }} </h2>
                    </div>
                    <div class="card-body" [ngBusy]="busy" >
                        <form role="form" style="margin-top: 2rem;">

                                  <div class="form-group">
                                    <label for="sender-email" class="control-label">Email:</label>

                                <div class="input-icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    <input  [(ngModel)]="credentials.email" #email=ngModel required name="email"  id="sender-email" type="email" placeholder="Email"
                                    class="form-control email">
                                </div>
                                <label
                                style="margin-top: 3px;"
                                *ngIf=" (isSubmitted && email.errors?.required)  || (email.errors?.required && (email.dirty || email.touched))"
                                class="form-text text-danger" >{{'required' | translate}}
                              </label>
                            </div>
                            <div class="form-group">
                                <label for="user-pass" class="control-label">{{'Password'|translate}}:</label>

                                <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i>
                                    <input required #password=ngModel name="password" [(ngModel)]="credentials.password" type="password" class="form-control" placeholder="Password"
                                    placeholder="{{'Password'|translate}}"    id="user-pass">
                                </div>

                                <label
                                 style="margin-top: 3px;"
                                *ngIf="(isSubmitted && password.errors?.required) ||
                                (password.errors?.required && (password.dirty || password.touched))"
                                class="form-text text-danger">{{'required' | translate}}
                                </label>
                            </div>

                            <div class="form-group">
                                <a class="submite" (click)="loginSubmit()" style="color: white;" class="btn btn-primary  btn-block">{{'SignIn' | translate}}</a>
                            </div>

                        </form>


                </div>
                <div class="card-footer">




                    <p class="text-center pull-right"><a routerLink="/auth/forget-password"> {{'ForgetPassword' | translate}} </a>
                    </p>

                    <div style=" clear:both"></div>
                </div>
            </div>
            <div class="login-box-btm text-center">
                <p style="color: gray;"> {{'NoAccount' | translate }}<br>
                    <a routerLink="/auth/create-account"><strong>{{'SignUp' | translate }} </strong> </a></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
<app-loading-spinner></app-loading-spinner>
