/**
* Template Name: TheEvent - v2.2.0
* Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #f82249;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #f8234a;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #0e1b4d;
  }
  
  .main-page {
    margin-top: 70px;
  }
  
  /* Prelaoder */
 /* #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
  }*/
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: #f82249;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
  }
  
  .back-to-top i {
    font-size: 24px;
    padding-top: 6px;
  }
  
  @media (max-width:600px) {
    .carousel{
      width: 40rem;
      position: relative;
      right: 10rem;
    }
  }

  @media (min-width:1000px ) and (max-width:1400px){
    #securiday {
      margin-left: 5rem;
    }
    #ncsc {
      margin-left: 16rem;
    }
  }
  @media(min-width:1400px) {
    #securiday {
      margin-left: 6rem;
    }
    #ncsc {
      margin-left: 19rem;
    }
  }

  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  .back-to-top:focus {
    background: #e0072f;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #e0072f;
    color: #fff;
  }
  
  /* Sections Header
  --------------------------------*/
  .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 90px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  @media (max-width: 991px) {
    #header {
      background: rgba(6, 12, 34, 0.98);
      height: 70px;
      padding: 15px 0;
      transition: all 0.5s;
    }
  }
  
  @media (max-width: 1199px) {
    #header .container {
      max-width: 100%;
    }
  }
  
  #header.header-scrolled, #header.header-fixed {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
  
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 span {
    color: #f82249;
  }
  
  #header #logo h1 a, #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  .sujet ul{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;

  }
 .sujets ul {
  padding: 0;
    margin: 0;
    size: 20px;
  }
  
  .sujets ul li {
    padding-right: 5px;
    position: relative;
    white-space: nowrap;
    min-width: 180px;
    font-size: 50px;
    
  }
  .section-header li{
    position: relative;
    white-space: nowrap;
    min-width: 180px;
    font-size: 80px;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  @media (max-width: 991px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    outline: none;
  }
  
  @media (max-width: 1199px) {
    .nav-menu a {
      padding: 8px 4px;
    }
  }
  
  .nav-menu .menu-active a, .nav-menu a:hover {
    color: #fff;
  }
  
  .nav-menu > li {
    margin-left: 8px;
  }
  
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f82249;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    width: 100%;
  }
  
  .nav-menu li.buy-tickets a {
    color: #fff;
    background: #f82249;
    padding: 7px 22px;
    border-radius: 50px;
    border: 2px solid #f82249;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    margin-left: 8px;
    margin-top: 2px;
    line-height: 1;
    font-size: 13px;
  }
  
  .nav-menu li.buy-tickets a:hover {
    background: none;
  }
  
  .nav-menu li.buy-tickets:hover a:before, .nav-menu li.buy-tickets.menu-active a:before {
    visibility: hidden;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    border-radius: 3px;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #060c22;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    border-radius: 3px;
  }
  
  .nav-menu ul li:hover > a {
    background: #f82249;
    color: #fff;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    #mobile-nav-toggle {
      display: inline;
    }
  }
  
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(6, 12, 34, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 17px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #f82249;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #f82249;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #f82249;
  }
  .elementor-widget-video .elementor-video {
    -o-object-fit: cover;
    object-fit: cover;
}
.elementor embed, .elementor iframe, .elementor object, .elementor video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    border: none;
}
.elementor-fit-aspect-ratio video {
    width: 100%;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

  //card
  .hover-style-1 {
    position: relative;
  }
  .card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    display:block;
    z-index:999;
    height:auto;
}
  
  .hover-style-1:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 0px;
    transition: all 600ms ease;
    background: linear-gradient(90deg, #ce404085 0%, #ce404085 100%);
    border-color: #f5634b;
  }
  
  .hover-style-1 h3, .hover-style-1 p, .hover-style-1 a, .hover-style-1 i, .hover-style-1 h4 {
    position: relative;
    transition: all 600ms ease;
  }
  
  .hover-style-1:hover:before {
    height: 100%;
  }
  
  .hover-style-1:hover a {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .hover-style-1:hover h3,
  .hover-style-1:hover h4,
  .hover-style-1:hover p,
  .hover-style-1:hover a {
    color: #fff;
  }
  
  .hover-style-1:hover i {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  
  .mt--45 {
    margin-top: -45px;
  }
  
  .course .card-body a h4:hover {
    color: #ce404085;
  }
  
  .course-widget li a {
    color: #232323;
    opacity: .9;
  }
  

  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(6, 12, 34, 0.8);
    display: none;
  }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/
  #intro {
    width: 100%;
    height: 70vh;
    background: url(../../assets/images/intro.png) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #intro .intro-container {
      top: 70px;
    }
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #f82249;
  }
  
  @media (max-width: 991px) {
    #intro h1 {
      font-size: 34px;
    }
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (max-width: 991px) {
    #intro p {
      font-size: 16px;
    }
  }
  //Les sous titre
  #introo {
    width: 100%;
    height: 20vh;
    background: url(../../assets/images/intro.png) top center;
    background-size: cover;
    position: relative;
    display:inline-block;

  }
  .EventContainer{
    //lhama kéén ybadel container
    margin-left: 40px;
    
    
  }
  .yassine{
    display:inline-block;

  }
  .EventContainer h1 span {
    color: #f82249;
    margin-top: 20px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 600;

  }
  
  .EventContainer p {
    color: #112363;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  
  @media (min-width: 1024px) {
    #introo {
      background-attachment: fixed;
    }
  }
  //galerie
  

  //
  #introo:before {
      //abdel coeleur as u like
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #introo .intro-container {
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  @media (max-width: 991px) {
    #introo .intro-container {
      top: 70px;
    }
  }
  
  #introo h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  #introo h1 span {
    color: #f82249;
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 80px;

  }
  
  @media (max-width: 991px) {
    #introo h1 {
      font-size: 34px;
          margin-bottom: 50px;
          display: inline-block;

    }
  }
  .buttonScroll{
    display:inline-block;
    position: absolute;
    margin-right: 580px;
    margin-bottom: 70px;
    
  }
  .buttonScroll{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-size: 70px;
    display:inline-block;

  }
  .buttonScroll:hover{
    color:red;
  }
  
  #introo p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
    display:inline-block;

  }
  
  @media (max-width: 991px) {
    #introo p {
      font-size: 16px;
    }
  }
  // end off sous titre 
  
  #intro .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }

#intro .about-btn:hover {
  background: #f82249;
  color: #fff;
}
  
  #intro .play-btn:hover::after {
    border-left: 15px solid #f82249;
    transform: scale(20);
  }
  
  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  #intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
  }
  
  #intro .about-btn:hover {
    background: #f82249;
    color: #fff;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/
  #about {
   /* background: url("../img/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;*/
  }
  
  @media (min-width: 1024px) {
    #about {
      background-attachment: fixed;
    }
  }
  
  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  /*--------------------------------------------------------------
  # Speakers Section
  --------------------------------------------------------------*/
  #speakers {
    padding: 60px 0 30px 0;
  }
  
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #speakers .speaker .details .social {
    height: 30px;
  }
  
  #speakers .speaker .details a {
    color: #fff;
  }
  
  #speakers .speaker .details a:hover {
    color: #f82249;
  }
  
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #speakers-details .details .social {
    margin-bottom: 15px;
  }

  .card{
    background: transparent;
    border-color: #f82249;
  }
  
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
  }
  
  #speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #speakers-details .details .social a i {
    font-size: 18px;
  }
  
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  /*--------------------------------------------------------------

  /*--------------------------------------------------------------

  
  /*--------------------------------------------------------------
 
  /*--------------------------------------------------------------
  # Gallery Section
  --------------------------------------------------------------*/
  #gallery {
    padding: 60px;
    overflow: hidden;
  }
  
  #gallery .owl-nav, #gallery .owl-dots {
    margin-top: 25px;
    text-align: center;
  }
  
  #gallery .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
  
  #gallery .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
  }
  
  #gallery .owl-dot.active {
    background-color: #f82249;
  }
  
  #gallery .gallery-carousel .owl-stage-outer {
    overflow: visible;
  }
  
  #gallery .gallery-carousel .center {
    border: 6px solid #f82249;
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
  }
  
  /*--------------------------------------------------------------
  # Sponsors Section
  --------------------------------------------------------------*/
  #supporters {
    padding: 60px 0;
  }
  
  #supporters .supporters-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
  }
  
  #supporters .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
  }
  
  #supporters .supporter-logo:hover img {
    transform: scale(1.2);
  }
  
  #supporters img {
    transition: all 0.4s ease-in-out;
  }
  
  /*--------------------------------------------------------------
  # F.A.Q Section
  --------------------------------------------------------------*/
  #faq {
    padding: 60px 0;
  }
  
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ddd;
  }
  
  #faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
  }
  
  #faq #faq-list p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    #faq #faq-list a {
      font-size: 18px;
    }
    #faq #faq-list i {
      top: 13px;
    }
  }
  
  #faq #faq-list a.collapse {
    color: #f82249;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  
  #faq #faq-list a.collapsed i::before {
    content: "\f055" !important;
  }
  
  /*--------------------------------------------------------------
  # Subscribe Section
  --------------------------------------------------------------*/
  /*#subscribe {
    padding: 60px;
    background: url(../img/subscribe-bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }*/
  

  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  