
  <section id="intro" class="top">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">{{'TheAnnual' | translate}}<br> <br> <br><span>{{'SecurinetsOrAnnual' | translate}}  {{'EventsOrSecurinets' | translate}} </span>  </h1>
    </div>
  </section>

   
  <!-- End Intro Section -->
    <!-- ======= cards Section ======= -->
    
    <section id="speakers">
        <div class="intro-container-fluid" data-aos="fade-up">
          <div class="section-header">
            <h2>{{'event' | translate}}</h2>
            <p>{{'SecurinetsEvents' | translate}}</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 " id="securiday" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <video class="card-img-top" src="../../assets/Video/Securiday.mp4"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                    <div class="card-body">
                       <h5 class="card-title border-bottom pb-3">SECURIDAY <a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
                       <p class="card-text"> un événnement annuel exceptionnel dédié
                            à la sécurité informatique. Réunissant tous ses participants pour une demi-journée 
                            au hall de l’INSAT, SecuriLight propose des solutions inédites aux problèmes actuels liés
                        à la cybersécurité  à travers l’exposition de ses différents ateliers techniques.
        </p>
        <a [routerLink] = "['/event']"  fragment="securidayINDEX" class="boxed-btn3" (click)="indexSecuriday(1,0)">Read more</a>
        </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" id="ncsc"  data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <video class="card-img-top" src="../../assets/Video/NCSC – SECURINETS.MP4"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                    <div class="card-body">
                       <h5 class="card-title border-bottom pb-3">NCSC <a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
                       <p class="card-text"> Le National Cyber Security Congress est un évènement, présenté pour la première fois cette année, visant à innover et apporter une touche communautaire à l’expérience au sein de l’Association «Securinets». Pour cette première édition, notre objectif principal sera de bénéficier de la vaste expertise professionnelle du large réseau d’anciens de l’association pour solidifier les compétences pratiques de nos membres. Ainsi, de nombreux ateliers et des conférences seront proposés par ces derniers. C’est donc une grande opportunité pour les curieux et passionnés de Cyber Security d’approfondir leurs connaissances et de se rapprocher du milieu professionnel.
        </p>
        <a href="" class="boxed-btn3"[routerLink] = "['/event']"  fragment="NCSC" (click)="indexSecuriday(2,0)">Read more</a>
        </div>
                </div>
                 </div>
            
                <!-- <div class="col-md-4 " data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <video class="card-img-top" src="../../assets/Video/Securilight – SECURINETS.MP4"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
                        <div class="card-body">
                           <h5 class="card-title border-bottom pb-3">SECURILIGHT <a href="#" class="float-right d-inline-flex share"><i class="fas fa-share-alt text-primary"></i></a></h5>
                           <p class="card-text"> un événnement annuel exceptionnel dédié
                                à la sécurité informatique. Réunissant tous ses participants pour une demi-journée 
                                au hall de l’INSAT, SecuriLight propose des solutions inédites aux problèmes actuels liés
                            à la cybersécurité  à travers l’exposition de ses différents ateliers techniques.
            </p>
            <a [routerLink] = "['/event']"  fragment="LIGHT"  class="boxed-btn3"(click)="indexSecuriday(3,2017)">Read now</a>
            </div>
                    </div>
                </div> -->
                </div>
        </div>
                </section>
                <br>
                <br>

                  
                <!-- <div class="container-fluid p-0" data-aos="fade-up">
                        <div class="row">
                        <img  class="card-img-top" height="400px" src="../../assets/images/FAQ.png">
                    </div>
                </div> -->
                <br>

            <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>F.A.Q </h2>
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-9">
              <ul id="faq-list">
  
                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">{{'EVENTQuestion.CANIJOIN'| translate }} ? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                            {{'EVENTRESPONSE.CANIJOIN' | translate}} 
                 </p>
                  </div>
                </li>
  
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">{{'EVENTQuestion.HOWCANIJOIN' | translate}}<i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                   {{'EVENTRESPONSE.HOWCANIJOIN' | translate}}
                    </p>
                  </div>
                </li>
  
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">{{'EVENTQuestion.WorshopsFreindly' | translate}} <i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                        {{'EVENTRESPONSE.WorshopsFreindly' | translate}}
                    </p>
                  </div>
                </li>
  
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">{{'EVENTQuestion.OPENWORKSHOPS' | translate}}<i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                        {{'EVENTRESPONSE.OPENWORKSHOPS' | translate}}
                    </p>
                  </div>
                </li>
  
                <li>
                  <a data-toggle="collapse" href="#faq5" class="collapsed">{{'EVENTQuestion.Competitions' | translate}}<i class="fa fa-minus-circle"></i></a>
                  <div id="faq5" class="collapse" data-parent="#faq-list">
                    <div>

                <ul>
                  <li>
                    beginner friendly  ctf
                  </li>
                  <li>
                    NCSC ctf
                  </li>
                  <li>
                    Quals 
                  </li>
                </ul>         
                    </div>
                  </div>
                </li>
  
                <li>
                  <a data-toggle="collapse" href="#faq6" class="collapsed">{{'EVENTQuestion.Certifications' | translate}}<i class="fa fa-minus-circle"></i></a>
                  <div id="faq6" class="collapse" data-parent="#faq-list">
                    <p>
                       {{'EVENTRESPONSE.Certifications' | translate}}
                    </p>
                  </div>
                </li>
  
              </ul>
            </div>
          </div>
  
        </div>
  
      </section><!-- End  F.A.Q Section -->
               <br>
               <br>
               

           
         <div class="securiday"*ngIf="index==1" id="securidayINDEX" >
           <br>
           <section class="elementor-element elementor-element-08dbc19 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="08dbc19" data-element_type="section" id="Securiday-section" >
            <div data-aos="fade-up">
            <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
        <div class="elementor-element elementor-element-230084f elementor-column elementor-col-100 elementor-top-column" data-id="230084f" data-element_type="column">
      <div class="elementor-column-wrap  elementor-element-populated">
          <div class="elementor-widget-wrap">
        <div class="elementor-element elementor-element-018fe85 elementor-aspect-ratio-219 elementor-widget__width-initial elementor-widget elementor-widget-video" data-id="018fe85" data-element_type="widget" data-settings="{&quot;aspect_ratio&quot;:&quot;219&quot;}" data-widget_type="video.default">
        <div class="elementor-widget-container">
          <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
          <video class="elementor-video" src="../../assets/Video/Securiday.mp4" style="height: 420px;"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
        </div>
        </div>
        </div>
            </div>
      </div>
      </div>
            </div>
      </div>
      </div>
      </section>
      <section id="speakers">
        <div class="container-fluid p-0" data-aos="fade-up">
          <div class="section-header">
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">
            <h2>SECURIDAY</h2>
           
          </div>
          
            </div>
          </div>
        <div class="container">
            <div class="row">
          <h3>La journée nationale de la Sécurité Informatique agréé par le Ministère de l’Éducation Supérieure et de la Recherche
            Scientifique est désormais un rendez-vous incontournable pour la sécurité informatique en Tunisie. Elle vient clore
             une année de travail et permet aux membres de présenter leurs travaux,
            d’assister à des conférences et de participer à l’organisation d’un événement à échelle nationale.</h3>
            <h3><strong> première édition de securiday était en 2007 et depuis lors, cet événement est devenu annuel.

           </strong></h3>
        </div>
        </div>
        <br><br>
        <section id="introo">
          <div class="intro-container" >
            <button class="buttonScroll" *ngIf="year >2014" type="button"(click)="onReturn()"><</button>

            <h1 class="yassine" style="margin-bottom: 60px;"data-aos="zoom-in" data-aos-delay="100"><span>SECURIDAY </span> {{year}}</h1>
            <button class="buttonScroll" *ngIf="year <2019" type="button"(click)="onNext()" style="margin-left:70rem"data-aos="zoom-in" data-aos-delay="100">></button>

          </div>
        
        </section>
        <br>
        <br>
        <div class="EventContainer"  *ngIf="year==2019"data-aos="zoom-in" data-aos-delay="100" >
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div class="section-header">
                  <h2>Thématique</h2>
                </div>                <h3>Securinets brille et s’excelle encore et encore dans le domaine de la sécurité informatique
                  , en favorisant plus d’interactions avec les experts et les professionnels 
                  du domaine et en s’adressant au grand public à travers la journée nationale de la sécurité informatique dans ses 13ème édition 
                  qui s’inscrit cette année sous le thème de «La protection des données personelles » En faveur du nouveau règlement général
                   sur la protection des données personelles adopté par le parlement européen le GDPR, qui a essentiellement
                    le but de responsabiliser les acteurs traitant des données et crédibiliser la régulation. Un règlement qui renforce 
                    et qui unifie la protection des données des individus. A travers ce thème on s’adresse au grand public, 
                  aux professionnels ainsi qu’ aux jeunes étudiants, pour mettre en exergue la nécessité de ce règlement dans notre pays.


                </h3>

              </div>
              <DIV class="col-sm-6">
                <div class="section-header">
                  <h2>Programe</h2>
                </div>    
                <img src="../../assets/images/Securiday.png" style="width: 650px; height: 500px;">

              </DIV>
            </div>
          </div>
                     <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
        </div>
      <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
        <li data-target="#carousel-example-1z" data-slide-to="4"></li>
        <li data-target="#carousel-example-1z" data-slide-to="5"></li>
        <li data-target="#carousel-example-1z" data-slide-to="6"></li>
        <li data-target="#carousel-example-1z" data-slide-to="7"></li>
        <li data-target="#carousel-example-1z" data-slide-to="8"></li>





      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/images/gallery/mrRo.jpg" alt="First slide">
        </div>
        <!--/First slide-->
        <!--Second slide-->
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/meeting.jpg" alt="Second slide">
        </div>
        <!--/Second slide-->
        <!--Third slide-->
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/shows.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/women.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/SCREENcrypt.jpg" alt="fouth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/leaderbord.jpg" alt="fifth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/pitch.jpg" alt="sixth slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/2019IMG.jpg" alt="seventh slide">
        </div> 
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/images/gallery/Juniorcomp.jpg" alt="eith slide">
        </div>
        
        <!--/Third slide-->
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

      </div>
  </section>
      </div>
      <div class="EventContainer"  *ngIf="year==2018"data-aos="zoom-in" data-aos-delay="100" >
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <div class="section-header">
                <h2>Programe</h2>
              </div>    
              <h3 style="margin-bottom: 20px;">De par les précédentes éditions, experts et amateurs se sont mis d’accord que peu importe la fiabilité d’un système,
                 la plus grande faille en cyber-sécurité c’est : l’erreur humaine. En effet, les plus grands exploits
                  en cyber-criminalité sont dues à une faille de la vigilance d’un utilisateur aussi peu influent qu’il soit. 
                  Et c’est dans ce contexte que s’inscrit le thème de cette 12ème édition de SecuriDay : END USER SECURITY . 
                  Une édition destinée aux utilisateurs finaux, au grand public manipulant la technologie au quotidien afin
                   de les sensibiliser aux bonnes pratiques d’utilisation des terminaux intelligents. De la mise en place 
                   d’architectures optimisées au dévoilement des secrets sous-jacents de nos systèmes préférés, 
                   la Journée Nationale de la Sécurité Informatique 2018 s’adresse aux utilisateurs lambdas comme aux professionnels 
                   pour unifier les normes optimales de protection des données personnelles avec les réflexes les plus simples


              </h3>

            </div>
            <DIV class="col-sm-6">
                <div class="section-header">
                  <h2>Gallerie</h2>
                </div>    
                <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                  <!--Indicators-->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                 
            
            
            
            
            
                  </ol>
                  <!--/.Indicators-->
                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-1.jpg" alt="First slide">
                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-2.jpg" alt="Second slide">
                    </div>
                    <!--/Second slide-->
                    <!--Third slide-->
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-4.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-5.jpg" alt="fouth slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/gallery/2018-6.jpg" alt="fifth slide">
                    </div>
             
                
                    <!--/Third slide-->
                  </div>
                  <!--/.Slides-->
                  <!--Controls-->
                  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <!--/.Controls-->
                </div>

              </DIV>

          </div>
        </div>
                   <!-- ======= Gallery Section ======= -->
  
    </div>
  </div>
  <div class="EventContainer"  *ngIf="year==2017"data-aos="zoom-in" data-aos-delay="100" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">

          <div class="section-header">
            <h2>Programe</h2>
          </div>    
          <h3 style="margin-bottom: 20px;">Comme toujours au coeur de l’actualité Tunisienne et Internationale
            , la Journée Nationale de la Sécurité Informatique vous offre un accès EXCLUSIF aux recoins
             les plus sombres du monde digital en illuminant votre perception sur les 
             « Stratégies de Protection des Données » contre les évolutions malveillantes
             et autres virus 2.0 de la toile plus connus sous le nom de « Rançongiciels »




          </h3>

        </div>
        <div class="col-sm-1">
        </div>
      </div>




        <div class="container-fluid">
          
            <div class="section-header">
              <h2>Gallerie</h2>
            </div>    
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">

            <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                <li data-target="#carousel-example-1z" data-slide-to="4"></li>
            
        
        
        
        
        
              </ol>
              <!--/.Indicators-->
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <!--First slide-->
          
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../assets/images/gallery/2017-1.jpg" alt="First slide">
                </div>
                <!--/First slide-->
                <!--Second slide-->
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../assets/images/gallery/2017-2.jpg" alt="Second slide">
                </div>
                <!--/Second slide-->
                <!--Third slide-->
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../assets/images/gallery/2017-3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../assets/images/gallery/2017-4.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../assets/images/gallery/2017-5.jpg" alt="fouth slide">
                </div>
                <!--/Third slide-->
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
            </div>

        </div>
        <div class="col-sm-2">
        </div>
      </div>
      </div>
    </div>
               <!-- ======= Gallery Section ======= -->
  </div>


        
  
              <div class="EventContainer"  *ngIf="year==2016"data-aos="zoom-in" data-aos-delay="100" >
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="section-header">
                        <h2>Programe</h2>
                      </div>    
                      <h3 style="margin-bottom: 20px;">Vu les enjeux économiques et politiques actuels, 
                        la sécurité informatique est devenue un défi de taille face à des attaques 
                        cybercriminelles toujours plus sophistiquées mais surtout très dangereuses. 
                        De ce fait, gouvernements et entreprises se trouvent hautement menacés par de telles f
                        ailles qui risquent de planter leurs systèmes actuels et compromettre des données confidentiell
                        es. Il est ainsi devenu primordial de se focaliser sur deux problématiques aussi délicate l’une que l’autre
                         : Comment garantir la sécurité d’un système d’information et comment s’assurer de la continuité des activités 
                         sectorielles après un incident quelconque en adoptant une stratégie sécuritaire afin de continuer en premier lieu à 
                         exercer leurs activités normalement et d’apprendre à réagir en second lieu rapidement pour éradiquer ces menaces 
                         éventuelles et mieux se protéger par la suite. Deux défis majeurs que décortiqueront les étudiants et les
                          professionnels au sein de la journée nationale de la sécurité informatique, Securiday 2016 sous l’emblème
                           de « Business Security Challenges »
                         Toujours avec le professionnalisme et la rigueur 

                         distinctifs de toutes les versions précédentes ! 
        
        
                      </h3>
        
                    </div>
                    <DIV class="col-sm-6">
                        <div class="section-header">
                          <h2>Gallerie</h2>
                        </div>    
                        <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                          <!--Indicators-->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="6"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="7"></li>
                            <li data-target="#carousel-example-1z" data-slide-to="8"></li>
                    
                    
                    
                    
                    
                          </ol>
                          <!--/.Indicators-->
                          <!--Slides-->
                          <div class="carousel-inner" role="listbox">
                            <!--First slide-->
                            <div class="carousel-item active">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-1.jpg" alt="First slide">
                            </div>
                            <!--/First slide-->
                            <!--Second slide-->
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-2.jpg" alt="Second slide">
                            </div>
                            <!--/Second slide-->
                            <!--Third slide-->
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-3.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-4.jpg" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-5.jpg" alt="fouth slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-6.jpg" alt="fifth slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-7.jpg" alt="sixth slide">
                            </div>
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-8.jpg" alt="seventh slide">
                            </div> 
                            <div class="carousel-item">
                              <img class="d-block w-100" src="../../assets/images/gallery/2016-9.jpg" alt="eith slide">
                            </div>
                            <!--/Third slide-->
                          </div>
                          <!--/.Slides-->
                          <!--Controls-->
                          <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                          <!--/.Controls-->
                        </div>
        
                      </DIV>
        
                  </div>
                </div>
                           <!-- ======= Gallery Section ======= -->
          
            </div>
            <div class="EventContainer"  *ngIf="year==2015"data-aos="zoom-in" data-aos-delay="100" >
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="section-header">
                      <h2>Programe</h2>
                    </div>    
                    <h3 style="margin-bottom: 20px;">BIG DATA Security, c’est sur ce thème-là que va porter l’évènement majeur 
                      de la sécurité informatique en Tunisie : Securiday 2015, dans sa 9ème édition, 5ème en tant que journée 
                      nationale de la sécurité informatique. Securiday 2015 aspire à présenter les dangers qui émanent du Big Data, 
                      sa structure, et ses caractéristiques. On vise aussi à présenter les bonnes pratiques et les meilleurs mécanismes 
                      pour la sécurisation d’un système d’informations basé sur les Big Data. 
                      Qu’est-ce que les Big Data ? Comment sécuriser un système Big data ? Quels sont ses perspectives ?
      
      
                    </h3>
      
                  </div>
                  <DIV class="col-sm-6">
                      <div class="section-header">
                        <h2>Gallerie</h2>
                      </div>    
                      <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                          <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                        
                  
                  
                  
                  
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                          <!--First slide-->
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/gallery/2015-.jpg" alt="First slide">
                          </div>
                          <!--/First slide-->
                          <!--Second slide-->
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/images/gallery/2015-1.jpg" alt="Second slide">
                          </div>
                          <!--/Second slide-->
                          <!--Third slide-->
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/images/gallery/2015-2.jpg" alt="Third slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/images/gallery/2015-3.jpg" alt="Third slide">
                          </div>
                   
                          <!--/Third slide-->
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                      </div>
      
                    </DIV>
      
                </div>
              </div>
                         <!-- ======= Gallery Section ======= -->
        
          </div>
          <div class="EventContainer"  *ngIf="year==2014"data-aos="zoom-in" data-aos-delay="100" >
            <div class="container-fluid">
              <div class="row">
               
                <div class="col-sm-12">

                  <div class="section-header">
                    <h2>Programe</h2>
                  </div>    
                  <h3 style="margin-bottom: 20px;">la Journée Nationale de la Sécurité Informatique aura pour thème Access Control : 
                    les contrôles d’accès au sein du milieu professionnel. Ce thème sera traité dans 3 différents axes 
                    : BYOD (Bring Your Own Device), Hardware et Cloud. Sous le joug d’un monde informatique en constante 
                    évolution, toute entreprise digne de ce nom se doit de se garantir le meilleur système de sécurité 
                    existant. Dans cet univers rythmé par l’avancement technologique, toutes les informations, même les 
                    plus confidentielles parmi elles se retrouvent dans un grand danger d’exposition dû au manque 
                    de contrôle d’accès des firmes les plus réputées du monde. En Tunisie, cette culture de 
                    l’Access Control n’a pas encore atteint son apogée. Que cela soit au niveau physique, s
                    ur les serveurs en ligne ou bien les équipements mobiles, bon nombre de professionnels
                     échouent sur ce point. Nous allons tenter, par notre évènement, de démocratiser cette
                      culture et de répondre à une série de questions à travers un programme dense et varié. 
                      De plus, cette année s’avère être plus qu’exceptionnelle pour le 1er club de la sécurité 
                      informatique en Tunisie. Fondé en 2004, le club fête ses 10 ans d’existence. Dans une bonne ambiance, 
                    nous invitons tous ceux qui ont pu entendre parler de SecuriNets de prés ou de loin à assister à cette incroyable fête.
    
                  </h3>
    
                </div>
              </div>
              </div>
              <div class="container" style="margin-right:70px ;">
                <div class="row">  
                  <div class="con-sm-4"></div>          
                  <div class="col-sm-8">
                    <div class="section-header">
                      <h2>Gallerie</h2>
                    </div>    
                    <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                      <!--Indicators-->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="3"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="4"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="5"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="6"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="7"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="8"></li>
                
                
                
                
                
                      </ol>
                      <!--/.Indicators-->
                      <!--Slides-->
                      <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014--1.jpg" alt="First slide">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014-2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014--2.jpg" alt="Second slide">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014-3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014--3.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014--4.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014-4.jpg" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014-5.jpg" alt="fouth slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2014--5.jpg" alt="fouth slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/leaderbord.jpg" alt="fifth slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/pitch.jpg" alt="sixth slide">
                        </div>
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/2019IMG.jpg" alt="seventh slide">
                        </div> 
                        <div class="carousel-item">
                          <img class="d-block w-100" src="../../assets/images/gallery/Juniorcomp.jpg" alt="eith slide">
                        </div>
                        <!--/Third slide-->
                      </div>
                      <!--/.Slides-->
                      <!--Controls-->
                      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                      <!--/.Controls-->
                    </div>
    
               
                  <div class="col-md-3"></div>          

    
              </div>
            </div>
                       <!-- ======= Gallery Section ======= -->
      
        </div>
        <br>
        <br>          <br>
        <br>


        
          </div>
          </section>
         </div>
    
  
    <br>
    <div class="NCSA"*ngIf="index==2" id="NCSC">
    <section class="elementor-element elementor-element-08dbc19 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="08dbc19" data-element_type="section" id="Securiday-section" >
     <div data-aos="fade-up">
     <div class="elementor-container elementor-column-gap-default">
 <div class="elementor-row">
 <div class="elementor-element elementor-element-230084f elementor-column elementor-col-100 elementor-top-column" data-id="230084f" data-element_type="column">
<div class="elementor-column-wrap  elementor-element-populated">
   <div class="elementor-widget-wrap">
 <div class="elementor-element elementor-element-018fe85 elementor-aspect-ratio-219 elementor-widget__width-initial elementor-widget elementor-widget-video" data-id="018fe85" data-element_type="widget" data-settings="{&quot;aspect_ratio&quot;:&quot;219&quot;}" data-widget_type="video.default">
 <div class="elementor-widget-container">
   <div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
   <video class="elementor-video" src="../../assets/Video/NCSC – SECURINETS.MP4" style="height: 420px;"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
 </div>
 </div>
 </div>
 <br>
 <br>
     </div>
</div>
</div>
     </div>
</div>
</div>
</section>
<section id="yassine">
 <div class="container-fluid p-0" data-aos="fade-up">
   <div class="section-header">
     <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
         <div class="col-lg-9">
     <h2>NCSC</h2>
    
   </div>
   
     </div>
   </div>
 <div class="container">
     <div class="row">
   <h3>Le National Cyber Security Congress est un évènement, présenté pour la première fois cette année, visant à innover
      et apporter une touche communautaire à l’expérience au sein de l’Association «Securinets». Pour cette première édition, notre objectif principal sera de bénéficier de la vaste expertise professionnelle du large réseau d’anciens de l’association pour solidifier les compétences pratiques de nos membres. Ainsi, de nombreux ateliers et des conférences seront proposés par ces derniers. C’est donc une grande opportunité pour les
      curieux et passionnés de Cyber Security d’approfondir leurs connaissances et de se rapprocher du milieu professionnel..</h3>
    
 </div>
 </div>
 <br><br>
 <section id="introo">
   <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
     <button class="buttonScroll"*ngIf="year<2019"data-aos="zoom-in" data-aos-delay="100" type="button"(click)="onReturn()"><</button>

     <h1 class="yassine" style="margin-bottom: 50px;"data-aos="zoom-in" data-aos-delay="100"><span>NCSC </span> {{year}}</h1>
     <button class="buttonScroll"*ngIf="year<2019"data-aos="zoom-in" data-aos-delay="100" type="button"(click)="onNext()" style="margin-left:  1200px;">></button>

   </div>
 
 </section>
 <div class="EventContainer"  *ngIf="year==2019"data-aos="zoom-in" data-aos-delay="100" >
  <div class="container-fluid">
    <div class="row">
      <br>
      <div class="col-sm-6">
        <div class="section-header">
          <br><br>
          <h2>Thématique</h2>
        </div>                <h3>Securinets brille et s’excelle encore et encore dans le domaine de la sécurité informatique
          , en favorisant plus d’interactions avec les experts et les professionnels 
          du domaine et en s’adressant au grand public à travers la journée nationale de la sécurité informatique dans ses 13ème édition 
          qui s’inscrit cette année sous le thème de «La protection des données personelles » En faveur du nouveau règlement général
           sur la protection des données personelles adopté par le parlement européen le GDPR, qui a essentiellement
            le but de responsabiliser les acteurs traitant des données et crédibiliser la régulation. Un règlement qui renforce 
            et qui unifie la protection des données des individus. A travers ce thème on s’adresse au grand public, 
          aux professionnels ainsi qu’ aux jeunes étudiants, pour mettre en exergue la nécessité de ce règlement dans notre pays.


        </h3>

      </div>
      
      <DIV class="col-sm-6">
        <div class="section-header">
          <br><br>
          <h2>Programe</h2>
        </div>    
        <img src="../../assets/images/PROGRAMNCSC.png" style="width: 650px; height: 600px;">

      </DIV>
    </div>
  </div>
             <!-- ======= Gallery Section ======= -->
<section id="gallery">

<div class="container" data-aos="fade-up">
<div class="section-header">
  <h2>Gallery</h2>
</div>
<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
<!--Indicators-->
<ol class="carousel-indicators">
<li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
<li data-target="#carousel-example-1z" data-slide-to="1"></li>
<li data-target="#carousel-example-1z" data-slide-to="2"></li>
<li data-target="#carousel-example-1z" data-slide-to="3"></li>
<li data-target="#carousel-example-1z" data-slide-to="4"></li>
<li data-target="#carousel-example-1z" data-slide-to="5"></li>
<li data-target="#carousel-example-1z" data-slide-to="6"></li>
<li data-target="#carousel-example-1z" data-slide-to="7"></li>
<li data-target="#carousel-example-1z" data-slide-to="8"></li>





</ol>
<!--/.Indicators-->
<!--Slides-->
<div class="carousel-inner" role="listbox">
<!--First slide-->
<div class="carousel-item active">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-1.jpg" alt="First slide">
</div>
<!--/First slide-->
<!--Second slide-->
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-2.jpg" alt="Second slide">
</div>
<!--/Second slide-->
<!--Third slide-->
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-3.jpg" alt="Third slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-4.jpg" alt="Third slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-5.jpg" alt="fouth slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-6.jpg" alt="fifth slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-7.jpg" alt="sixth slide">
</div>
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-8.jpg" alt="seventh slide">
</div> 
<div class="carousel-item">
  <img class="d-block w-100" src="../../assets/images/gallery/NCSC-9.jpg" alt="eith slide">
</div>

<!--/Third slide-->
</div>
<!--/.Slides-->
<!--Controls-->
<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
<!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

</div>
</section>
</div>
 </div>
</section>
    </div>
 <br>



 <div class="SECURILIGHT"*ngIf="index==3"id="LIGHT">
 <section class="elementor-element elementor-element-08dbc19 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="08dbc19" data-element_type="section" id="Securiday-section" >
  <div data-aos="fade-up">
  <div class="elementor-container elementor-column-gap-default">
<div class="elementor-row">
<div class="elementor-element elementor-element-230084f elementor-column elementor-col-100 elementor-top-column" data-id="230084f" data-element_type="column">
<div class="elementor-column-wrap  elementor-element-populated">
<div class="elementor-widget-wrap">
<div class="elementor-element elementor-element-018fe85 elementor-aspect-ratio-219 elementor-widget__width-initial elementor-widget elementor-widget-video" data-id="018fe85" data-element_type="widget" data-settings="{&quot;aspect_ratio&quot;:&quot;219&quot;}" data-widget_type="video.default">
<div class="elementor-widget-container">
<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
<video class="elementor-video" src="../../assets/Video/Securilight – SECURINETS.MP4" style="height: 420px;"  loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
</div>
</div>
</div>
  </div>
</div>
</div>
  </div>
</div>
</div>
</section>
<section id="yassine">
<div class="container-fluid p-0" data-aos="fade-up">
<div class="section-header">
  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-9">
  <h2>SECURILIGHT</h2>
 
</div>

  </div>
</div>
<div class="container">
  <div class="row">
<h3>Depuis 2009, SecuriLight fut un événnement annuel exceptionnel dédié à la sécurité informatique. Réunissant tous
   ses participants pour une demi-journée au hall de l’INSAT, SecuriLight propose des solutions inédites aux problèmes
    actuels liés à la cybersécurité  à travers l’exposition de ses différents ateliers techniques, ainsi que des jeux et des quizzes.
   <strong>Dès 2018, SecuriLight a cessé d’avoir lieu pour être remplacé par un autre évennement incontourable, le NCSC.</strong></h3>
 
</div>
</div>
<br><br>
<section id="introo">
<div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
  <button class="buttonScroll"*ngIf="light>2014"data-aos="zoom-in" data-aos-delay="100" type="button"(click)="onReturnL()"><</button>

  <h1 class="yassine" style="margin-bottom: 50px;"data-aos="zoom-in" data-aos-delay="100"><span>SECURILIGHT</span> {{light}}</h1>
  <button class="buttonScroll"*ngIf="light<2017"data-aos="zoom-in" data-aos-delay="100" type="button"(click)="onNextL()" style="margin-left:  1200px;">></button>

</div>

</section>
</div>
</section>
</div>
<BR><BR>
<div class="EventContainer"  *ngIf="light==2017"data-aos="zoom-in" data-aos-delay="100" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h2>LES SUJETS</h2>
        </div>    
    
        <ul class="list-group list-group-flush" style="font-size: 30px; margin-right: 10px;">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-white btn-floating btn-fb btn-sm"></a> Facial Recognition

            </li>
            <li class="list-group-item">
              <a class="btn-floating btn-tw btn-sm"></a>Virus World
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-li btn-sm"></a>Network Security
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-slack btn-sm"></a>Honeypot Simulation
              
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>Web Security
            </li>
          </ul>
        </ul>
    


        

      </div>
      <DIV class="col-sm-6">
          <div class="section-header">
            <h2>Gallerie</h2>
          </div>    
          <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
              <li data-target="#carousel-example-1z" data-slide-to="3"></li>
              <li data-target="#carousel-example-1z" data-slide-to="4"></li>
              <li data-target="#carousel-example-1z" data-slide-to="5"></li>
           
      
      
      
      
      
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/images/gallery/light1.jpg" alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/light2.jpg" alt="Second slide">
              </div>
              <!--/Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/LIGHT3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/LIGHT4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/light5.jpg" alt="fouth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/2018-6.jpg" alt="fifth slide">
              </div>
       
          
              <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>

        </DIV>

    </div>
  </div>
             <!-- ======= Gallery Section ======= -->

</div>

<div class="EventContainer"  *ngIf="light==2015"data-aos="zoom-in" data-aos-delay="100" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h2>lES SUJETS</h2>
        </div>    
    
        <ul class="list-group list-group-flush" style="font-size: 30px; margin-right: 10px;">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-white btn-floating btn-fb btn-sm"></a> Server Security


            </li>
            <li class="list-group-item">
              <a class="btn-floating btn-tw btn-sm"></a>LAN Security

            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-li btn-sm"></a>Application Security

            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-slack btn-sm"></a>Miscellaneous
              
            </li>
           
          </ul>
        </ul>
    


        

      </div>
      <DIV class="col-sm-6">
          <div class="section-header">
            <h2>Gallerie</h2>
          </div>    
          <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
              <li data-target="#carousel-example-1z" data-slide-to="3"></li>
              <li data-target="#carousel-example-1z" data-slide-to="4"></li>
              <li data-target="#carousel-example-1z" data-slide-to="5"></li>
           
      
      
      
      
      
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/images/gallery/ligh-2019-1.jpg" alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/2014--3.jpg" alt="Second slide">
              </div>
              <!--/Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/2015S.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/2014--4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/2019--2.jpg" alt="fouth slide">
              </div>
        
          
              <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>

        </DIV>

    </div>
  </div>
             <!-- ======= Gallery Section ======= -->

</div>
<div class="EventContainer"  *ngIf="light==2016"data-aos="zoom-in" data-aos-delay="100" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h2>LES SUJETS</h2>
        </div>    
    
        <ul class="list-group list-group-flush" style="font-size: 30px; margin-right: 10px;">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-white btn-floating btn-fb btn-sm"></a> Pentesting

            </li>
            <li class="list-group-item">
              <a class="btn-floating btn-tw btn-sm"></a> Web
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-li btn-sm"></a>Programmation
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-slack btn-sm"></a> Réseaux
              
            </li>
         
          </ul>
        </ul>
    


        

      </div>
      <DIV class="col-sm-6">
          <div class="section-header">
            <h2>Gallerie</h2>
          </div>    
          <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
              <li data-target="#carousel-example-1z" data-slide-to="3"></li>
              <li data-target="#carousel-example-1z" data-slide-to="4"></li>
    
      
      
      
      
      
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/images/gallery/S2016-1.jpg" alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/S2016-2.jpg" alt="Second slide">
              </div>
              <!--/Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/S2016-3.jpg" alt="fourth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/S2016-4.jpg" alt="fifth slide">
              </div>
           
       
          
              <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>

        </DIV>

    </div>
  </div>
             <!-- ======= Gallery Section ======= -->

</div>
<div class="EventContainer"  *ngIf="light==2014"data-aos="zoom-in" data-aos-delay="100" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h2>LES SUJETS</h2>
        </div>    
    
        <ul class="list-group list-group-flush" style="font-size: 20px; margin-right: 10px;">
          <ul class="list-group">
            <li class="list-group-item">
              <a class="text-white btn-floating btn-fb btn-sm"></a> Python network attacks

            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-fb btn-sm"></a> Authentication management


            </li>
            <li class="list-group-item">
              <a class="btn-floating btn-tw btn-sm"></a>Mobile exploitation
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-li btn-sm"></a>Network scanning
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-slack btn-sm"></a>Web app security
              
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>fake access point exploitation

            </li>   <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>virtual private network


            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>Linux server administration

            </li>  <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>Shellshock 
            </li>  <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>Cryptographie
            </li>  <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>Web server security
            </li>
            <li class="list-group-item">
              <a class="text-white btn-floating btn-yt btn-sm"></a>DOS
            </li>
          </ul>
        </ul>
    


        

      </div>
      <div class="col-sm-6">
          <div class="section-header">
            <h2>Gallerie</h2>
          </div>    
          <div id="carousel-example-1z" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-1z" data-slide-to="1"></li>
              <li data-target="#carousel-example-1z" data-slide-to="2"></li>
              <li data-target="#carousel-example-1z" data-slide-to="3"></li>
              <li data-target="#carousel-example-1z" data-slide-to="4"></li>
              <li data-target="#carousel-example-1z" data-slide-to="5"></li>
           
      
      
      
      
      
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <img class="d-block w-100" src="../../assets/images/gallery/Light2014-1.jpg" alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/Light2014-2.jpg" alt="Second slide">
              </div>
              <!--/Second slide-->
              <!--Third slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/Light2014-3.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/Light2014-4.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../../assets/images/gallery/light5.jpg" alt="fouth slide">
              </div>
           
          
              <!--/Third slide-->
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>

        </div>

    </div>
  </div>
             <!-- ======= Gallery Section ======= -->

</div>
  



