
// @import '../../shared/shared.scss';



// #card{
  
//     width: 80%;
//     margin-right: 600px;
    


// }
// .card{
  
// }
// .card-body label{
//   float: left;
//   margin-left:1rem ;
// }
// #intro {
   
//     background: url(../../../assets/images/intro.png) top center;
//     height: 120vh;
//     background-size: cover;
// }
// .ng-valid[required], .ng-valid.required  {
//   border-left: 5px solid #42A948; /* green */
// }

// .ng-invalid:not(form)  {
//   border-left: 5px solid #dd3333; /* red */
// }
// .box {
//   border: 1px solid #f2f2f2;
//   box-shadow: 0 0 4px 4px #f2f2f2;
// }

// .myfile {
//   margin: 0;
//   padding: 2rem 1.5rem;
//   font: 1rem/1.5 "PT Sans", Arial, sans-serif;
//   color: #5a5a5a;
// }
// .card-body{


// }

// div.login-box {
//   float: none;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: -5rem;
//   clear: both; 
// }
// div.login-box .panel-body {
//   padding-left: 20px;
//   padding-right: 20px; }
// div.login-box .panel-footer p {
//   margin-top: 10px; }
// div.login-box .panel-footer label {
//   font-weight: normal; }

// .login-box .input-icon i {
//   color: #555;
//   opacity: 0.6;
//   border-right: 1px solid #ccc;
//   padding-right: 5px; }


// .login-box-btm {
//   margin-top: 10px;
//   margin-bottom: 20px; }

// .input-icon {
//   position: relative; }
// .input-icon input {
//   padding-left: 45px; }
// .input-icon i {
//   font-size: 16px;
//   left: 6px;
//   line-height: 22px;
//   position: absolute;
//   top: 9px; }

// .card-footer {
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset; }

//   #intro {
//     width: 100%;
//     height: 140vh;
//     background: url(../../../assets/images/intro.png) top center;
//     background-size: cover;
//     overflow: hidden;
//     position: relative;
//   }
  
//   @media (min-width: 1024px) {
//     #intro {
//       background-attachment: fixed;
//     }
//   }
  
//   #intro:before {
//     content: "";
//     background: rgba(6, 12, 34, 0.8);
//     position: absolute;
//     bottom: 0;
//     top: 0;
//     left: 0;
//     right: 0;
//   }
//   #intro .intro-container {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     top: 90px;
//     right: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     padding: 0 15px;
//   }
ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #dd3333; /* red */
}
.box {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 4px 4px #f2f2f2;
}

.myfile {
  margin: 0;
  padding: 2rem 1.5rem;
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
  color: #5a5a5a;
}

div.login-box {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  clear: both; 
}
div.login-box .panel-body {
  padding-left: 20px;
  padding-right: 20px; }
div.login-box .panel-footer p {
  margin-top: 10px; }
div.login-box .panel-footer label {
  font-weight: normal; }

.login-box .input-icon i {
  color: #555;
  opacity: 0.6;
  border-right: 1px solid #ccc;
  padding-right: 5px; }


.login-box-btm {
  margin-top: 20px;
  margin-bottom: 20px; }

.input-icon {
  position: relative; }
.input-icon input {
  padding-left: 45px; }
.input-icon i {
  font-size: 16px;
  left: 6px;
  line-height: 22px;
  position: absolute;
  top: 9px; }

.card-footer {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset; }

  #intro {
    width: 100%;
    height: 210vh;
    background: url(../../../assets/images/intro.png) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  }
  
  #intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  #card{
  
       width: 10%;
       margin-right: 400px;
       height: 30vh;
       margin-bottom: 6rem;
    
    
    }
    #cardd{
      bottom: 50px;
      width: 60%;
    }
    #ADDB {
      margin-top: 2rem;
    }
      @media screen and (max-width: 600px) {

        #cardd{
          position: relative;
          bottom: 80px;
          width: 65%;
        }
        #card{
          position: absolute;
          width: 150%;
          height: 80vh;
          bottom: 5rem;       
       
       }
      }

  
    