<section id="intro"  >
<div class="main-container mt-5">
  <div class="container-fluid" >
    <div class="row mb-3">
      <div class="col-sm-8 login-box" id="card">
        <div class="card" id="cardd" >
          <div class="panel-intro text-center mt-3">
            <h2 class="modal-title" *ngIf="!edit">{{'WORKSHOP.ADD_WORKSHOP'|translate}}</h2>
            <h2 class="modal-title" *ngIf="edit">{{'WORKSHOP.EDIT_WORKSHOP'|translate}}</h2>
          </div>
          <div class="card-body" [ngBusy]="busy">
            <form #workshopForm="ngForm">
              <label class=" mt-1"><b>{{'WORKSHOP.WORKSHOP_NAME'|translate}}</b></label>
              <input type="text" class="form-control" name="name" required [(ngModel)]="workshop.name">
              <label class=" mt-1"><b>{{'WORKSHOP.CLASSROOM'|translate}}</b></label>
              <input type="text" class="form-control" name="class_room" required [(ngModel)]="workshop.class_room">
              <label class="mt-1"><b>{{'WORKSHOP.WORKSHOP_DESCRIPTION'|translate}}</b></label>
              <textarea class="form-control" name="description" required [(ngModel)]="workshop.description"></textarea>

              <label class="mt-1"><b>{{'WORKSHOP.MAX_PLACES'|translate}}</b></label>
              <input type="number" class="form-control" [disabled]="edit" name="max_places" min=0 required pattern="^[1-9]\d*$"
                     [(ngModel)]="workshop.max_places">
              <label class="mt-1"><b>{{'WORKSHOP.DURATION'|translate}} (min)</b></label>
              <input type="number" class="form-control" name="duration" min=0 required pattern="^[1-9]\d*$"
                     [(ngModel)]="workshop.duration">
              <label class="mt-1"><b>{{'WORKSHOP.TIME'|translate}}</b></label>
              <input type="datetime-local" class="form-control" name="start_date" required [(ngModel)]="workshop.start_date">
              <label class="mt-2"><b>{{'UploadPhoto'|translate}}</b></label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput(($event.target.files))">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" [checked]="addGrids"
                (change)="onChangeCheckBox($event.target.checked)" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                 {{'WORKSHOP.AddEvaluationGrids' | translate}}
                </label>
              </div>
              <div *ngIf="addGrids"> 
                <label class=" mt-1"><b>Label</b></label>
                <div class="row" *ngFor="let grid of grids; let i = index">
                  <div class="col-md-9" >
                <input type="text" class="form-control" [(ngModel)]="grid.label" id={{i}} name="name {{i}}" required >
              </div>
              <div class="col-md-2">
                <i class="fa fa-plus-circle fa-2x" (click)="actionOnLabel('1',i, grid)" style="color: green; cursor:pointer" aria-hidden="true"></i>
                <i class="fa fa-minus-circle fa-2x" (click)="actionOnLabel('-1',i , grid)" style="color: #dd3333; margin-left: 0.25rem; cursor: pointer;" aria-hidden="true"></i>
              </div>
              </div>
              </div>
              <div class="offset-8" id="fooot">
                <button  *ngIf="!edit" class="btn btn-danger  btn-block pull-right " data-dismiss="modal"
                        [disabled]="workshopForm.invalid" (click)="addWorkshop()"  id="ADDB"> {{'ADD'|translate}}
                </button>
                <button  *ngIf="edit" class="btn btn-danger  btn-block pull-right  " data-dismiss="modal"
                         [disabled]="workshopForm.invalid" (click)="addWorkshop()" id="ADDB"> {{'EDIT'|translate}}
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div style=" clear:both"></div>
          </div>
        </div>
        <div class="login-box-btm text-center">
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<app-loading-spinner></app-loading-spinner>
