//global variables
$theme-colors: (
   primary: #dd3333, // hethi tbadel fel bib mtaa bootstrap
                     // yaani ken taamel btn btn-primary tjik bel couleur hethi mich zarka
   light: white
);
$navAndFonts: #fff ;
$background: black;
$value_black: #181416;
$value_dark_grayish: #403135;
$value_grey: #565359;
$value_dark_red: #5d2b31;
$value_dark_grayish_purple: #323035;
$value_strong_red: #992127;
$value_dark_grayish_blue: #232425;


