/* You can add global styles to this file, and also import other style files */
@import './colors';
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Roboto+Condensed:400,300,700,700italic|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic,700italic);
.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.ng-busy {
  z-index: 9999999999999 ;
}
.ng-busy  > * {
  position: fixed;}

.ng-busy-backdrop {
  position: fixed; }


  body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.5;
    
    color: #292b2c;
    background-color: #EEEEEE; }
    @media (max-width: 767px) {
      body {
        font-size: 0.75rem; } 
      
      }


        @media (max-width: 991px) {
          #mobile-nav-toggle {
            display: inline;
          }
        }
