


<div class="eventizer-main-content" style="width: 100%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home"><h3>Infos</h3></a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#menu1"><h3>Ranking</h3></a>
    </li>

  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content" style="width: 100%;">
    <div class="tab-pane container active" id="home">
      <form  role="form" (ngSubmit)="update()">
        <div class="profile-container mt-5 ">
          <img id="profile-image" src="https://www.w3schools.com/howto/img_avatar.png"
               alt="Edit Photo" class="profile-picture pointer" (click)="show()" />
          <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1"
               role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Edit Photo</h4>
                </div>
                <div class="modal-body">
         
  
                  <img [src]="croppedImage" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "hide()">Close</button>
                </div>
              </div>
            </div>
          </div>
  
          <div class=" edit-picture">
            <input id="fileInputField"  type='file' name="user-photo" class="file_upload" (change)="uploadUserPhoto($event)">
  
            <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon"/>
  
          </div>
        </div>
  
        <div class="input-name row">
  
          <div class="field-margin col-6" >
            <label class="parameter-title" for="first_name" >{{'FirstName' | translate}}</label>
              <input [(ngModel)]="user.first_name" type="text" class="form-control parameter-input"
                     placeholder="{{user.first_name}}"  id ="first_name" name="first_name">
            <div class=" edit-label">
              <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>
          <div class="field-margin col-6" >
            <label class="parameter-title" for="last_name" >{{'LastName' | translate}}</label>
              <input [(ngModel)]="user.last_name" type="text" id="last_name" class="form-control parameter-input"
                     placeholder="{{user.last_name}}" name="last_name">
            <div class=" edit-label">
              <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon-label"/>
            </div>
          </div>
  
        </div>
  
        <div class="field-margin">
          <label class="parameter-title" for="Email" >Email</label>
            <input [(ngModel)]="email" type="text" class="form-control parameter-input-email" id="Email" name="email"
                   placeholder="{{user.email}}">
         
        </div>
        <div class="input-name row">
        <div class="field-margin col-4" >
          <label class="parameter-title-custom" for="last_name" >{{'OldPassword' | translate}}</label>
            <input [(ngModel)]="user.last_name" type="text" id="last_name" class="form-control parameter-input"
                   placeholder="{{user.last_name}}" name="last_name">
          <div class=" edit-label">
            <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon-label"/>
          </div>
        </div>
       
        <div class="field-margin col-4" >
          <label class="parameter-title-custom" for="last_name" >{{'newPassword' | translate}}</label>
            <input [(ngModel)]="user.last_name" type="text" id="last_name" class="form-control parameter-input"
                   placeholder="{{user.last_name}}" name="last_name">
          <div class=" edit-label">
            <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon-label"/>
          </div>
        </div>
        <div class="field-margin col-4" >
          <label class="parameter-title-custom" for="last_name">{{'ConfirmPassword' | translate}}</label>
            <input [(ngModel)]="user.last_name" type="text" id="last_name" class="form-control parameter-input"
                   placeholder="{{user.last_name}}" name="last_name">
          <div class=" edit-label">
            <img src="https://image.flaticon.com/icons/svg/61/61456.svg" alt="edit-icon" class="edit-icon-label"/>
          </div>
        </div>
  
      </div>
      <div>
        <div class="field-margin">
       <button style="float: right;" class="btn btn-success mt-5">{{'Update' | translate }}</button>
      </div>
      </div>
        </form>
       
  

    </div>
    <div class="tab-pane container fade mt-5" id="menu1">

      <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            </tbody>
            </table>
    </div>
  </div>
  </div>
  