

<section  id="intro" style="width: 100%;" >
  <div class="intro-container" >

    <h1 class="mb-4 pb-0" data-aos="fade-right">SECURINETS<BR></h1>
    <p class="mb-4 pb-0" id="grandP" data-aos="fade-right">{{'intro'|translate}}
       </p>
    <a data-aos="fade-left" href="https://www.youtube.com/watch?v=9hYY5HpgRhM&feature=youtu.be" class="venobox play-btn mb-4"  data-vbtype="video"></a>

  </div>

</section><!-- End Intro Section -->


<section id="introo" style="height: 1100px">
    <div class="container mt-5 ">

      <div class="svg-wrapper1 mb-5 pb-0" data-aos="fade-right"  >
        <div  *ngIf="lang=='en'" >
          <svg height="80" width="500" xmlns="http://www.w3.org/2000/svg">
            <rect class="shapee" height="80" width="300"/>  </svg>
          <div class="custom-text" id="grandP" >&nbsp;  {{'NEWS'|translate}}</div>
        </div>


        <div  *ngIf="lang=='fr'" >
          <svg height="80" width="500" *ngIf="lang=='fr'" xmlns="http://www.w3.org/2000/svg">
            <rect class="shapeefr"  height="80" width="450" />  </svg>

          <div class="custom-text" id="grandP" >&nbsp;  {{'NEWS'|translate}}</div>

        </div>
      </div>

      <header data-aos="fade-up"  data-aos-duration="1000" *ngIf="articles.length > 0">
        <div id="carouselExampleIndicators" style="cursor: pointer;" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">

            <a class="carousel-item active " href={{articles[2].link}} target="_blank" style="background-image: url({{articles[2].thumbnail}})">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{articles[2].title}}</h5>
                  </div>
            </a>

            <a class="carousel-item" href="https://www.youtube.com/watch?v=Z59fGuhJQkU&t=29s" target="_blank" style="background-image: url('../../assets/images/webcamp2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mobile App reverse engineering record</h5>
                  </div>
            </a>

            <a class="carousel-item" href="https://www.youtube.com/watch?v=Up1JgZW0tqU&feature=youtu.be&fbclid=IwAR2b9Bl7iEsuXu0gj1CT2tHmGRghPCUIfbNDq23fL3opw8E9XwW9bazvyZI"  target="_blank" style="background-image: url('../../assets/images/webcamp3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Windows active directory security and attacks</h5>
                  </div>
            </a>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators"  role="button" data-slide="prev">
                <span class="carousel-control-prev-icon fontIcon"  aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon fontIcon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
      </header>




    </div>
  </section>

<section class="nous" id="introo"  >

  <div class="intro-container"  id="sommes">
  <div class="row">

    <div class="col"id="First-nous"data-aos="fade-right" >
     <h1>{{'nous'|translate}}</h1>

    </div>
    <div class="col"id="sommes" >
      <h1 data-aos="fade-left"  >{{'we'|translate}}<span class="MES"  >{{'are'|translate}}</span></h1>
    </div>
  </div>



  <div class="container">
  <div class="row">
    <div class="boxx">
        <div class="top-left"data-aos="fade-right" ></div>
        <p class="nous-content" style="font-size: 16px; text-align-last: left;text-align: left; margin-left: 10px;margin-top: 60px;"data-aos="fade-up">
            {{'description'|translate}}
         <br>
        </p>
        <span id="content-span" data-aos="flip-up" > {{'founderdescrip'|translate}}</span>
            <h3>{{'object'|translate}} </h3>

        <ul class="ul-nous" data-aos="flip-up">
        <li id="li-nous">{{'li_1'|translate}}</li>
        <li id="li-nous">{{'li_2'|translate}}</li>
        <li id="li-nous">{{'li_3'|translate}}</li>
        <!-- Bug space  -->
        <li id="li-nous" [innerHTML]="li_4"></li>
        <li id="li-nous">{{'li_5'|translate}}</li>
        <li id="li-nous">{{'li_6'|translate}}</li>
        <li id="li-nous">{{'li_7'|translate}}</li>



            </ul>


        <div class="bottom-right"data-aos="fade-left"></div>


    </div>
    </div>
    <div class="col"id="leftbare">
    </div>
    <div class="row" >

      <div class="col" id="Disapear">

      </div>

    </div>
  </div>
</div>

<section class="team" id="team"  >
  <div class="container">
    <div class="svg-wrapper" style="margin-bottom: 2rem;"  data-aos="fade-up" data-aos-duration="3000">
      <svg height="80" width="350" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="80" width="350" />  </svg>
        <div class="text" id="grandP" > &nbsp;  {{'team'|translate}}</div>


    </div>

     <div class="row" data-aos="fade-up" data-aos-duration="3000">
        <div class="col-xs-12 col-sm-8 col-md-4" style="margin:auto ">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../../assets/images/resized/Chaima.jpg"  alt="card image"></p>
                                <h4 class="card-title"> Tounsi Chaima</h4>
                                <p class="card-text"> {{'CHAIRWOMEN' | translate}}</p>
                                <a class="btn btn-primary btn-sm"><i  style="color: aliceblue;"  class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Tounsi Chaima</h4>
                                <p class="card-text">Our president: the enthusiastic leader always coming up with new ideas. 
                                    She motivates and influences the board to acheive the best results at all costs.</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/tounssi.chaima">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
      <div class="row">


          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4"  data-aos="fade-right" data-aos-duration="3000">
              <div class="image-flip" >
                  <div class="mainflip flip-0">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="../../assets/images/resized/Dali.jpg" alt="card image"></p>
                                  <h4 class="card-title"> Khedher Mohamed Ali                                  </h4>
                                  <p class="card-text">{{'VICECHAIRE' | translate}}</p>
                                  <a class="btn btn-primary btn-sm"><i  style="color: aliceblue;"  class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Khedher Mohamed Ali </h4>
                                  <p class="card-text">our vice president  is  the most calm, positive and charismatic member of the team.
                                    He takes  on leadership or chairperson roles by clarifying objectives,  responsibilities and duties within the group .</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/mohamedali.khedher.7">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                   
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4"  data-aos="fade-up" data-aos-duration="3000">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class="img-fluid" src="../../assets/images/resized/Tarek.jpg" alt="card image"></p>
                                  <h4 class="card-title">Baccar Tarek</h4>
                                  <p class="card-text">{{'treasurer' | translate}}</p>
                                  <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;"  class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Baccar Tarek</h4>
                                  <p class="card-text">Our treasurer , the richest member , is responsible of all the spendings and revenues of our club. He is also in the constant research of the best deals .</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/tarek.baccar.447851">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4"  data-aos="fade-left" data-aos-duration="3000">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="../../assets/images/resized/hama.jpg" alt="card image"></p>
                                  <h4 class="card-title">Hama ben Ismail</h4>
                                  <p class="card-text">Web Master</p>
                                  <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Hama ben Ismail</h4>
                                  <p class="card-text">The webmaster is  the mind behind this masterpiece of a website  as well as our video conferencing platform.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/Hamaaaab/">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-duration="3000">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class="image-small"  src="../../assets/images/resized/bacem.jpg"  ></p>
                                  <h4 class="card-title"> Zarai Bacem</h4>
                                  <p class="card-text">{{'ResponsableJunior' | translate}}.</p>
                                  <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;"  class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Zarai Bacem</h4>
                                  <p class="card-text">In a technology-oriented world , our junior manager works with the younger generations to implement in them the basics of cybersecurity , a must for the 21st century.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/bacem1.zarai">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                     
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-duration="3000">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="../../assets/images/resized/arfaoui.jpg" alt="card image"></p>
                                  <h4 class="card-title"> Arfaoui Mouhamed </h4>
                                  <p class="card-text">{{'MediaManager' | translate}}.</p>
                                  <a class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Arfaoui Mouhamed </h4>
                                  <p class="card-text">Our talented media manager. he   makes it easier to reach a greater community , keeping everyone updated about the latest discoveries in cybersecurity.</p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/arfaoui.mohamed.7">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                     
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- ./Team member -->
          <!-- Team member -->
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-left" data-aos-duration="3000">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                  <div class="mainflip">
                      <div class="frontside">
                          <div class="card">
                              <div class="card-body text-center">
                                  <p><img class=" img-fluid" src="../../assets/images/resized/aicha.jpg" alt="card image"></p>
                                  <h4 class="card-title">Cherif aicha</h4>
                                  <p class="card-text">{{'RelationsExterne' | translate}}.</p>
                                  <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                              </div>
                          </div>
                      </div>
                      <div class="backside">
                          <div class="card">
                              <div class="card-body text-center mt-4">
                                  <h4 class="card-title">Cherif aicha</h4>
                                  <p class="card-text">Our Head of External Relations works on the image of our club outside the university.
                                    She contacts other clubs for collaborations , helps in the creation of other securinets entities and is also a great sponsorship manager </p>
                                  <ul class="list-inline">
                                      <li class="list-inline-item">
                                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/aicha.cherif.7549">
                                              <i class="fa fa-facebook"></i>
                                          </a>
                                      </li>
                                      
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-duration="3000">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../../assets/images/resized/semah.jpg" alt="card image"></p>
                                <h4 class="card-title">Ben Ali Sameh                                </h4>
                                <p class="card-text">{{'TechnicalManager' | translate}}
                                    .</p>
                                <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Ben Ali Sameh</h4>
                                <p class="card-text">The technical team manager- the life saver of our members- is here to help them take their first steps in cybersecurity  by organizing  multiple  workshops , competitions  
                                    and simply assisting them with their technical issues. </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/SemahBA98">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4"  data-aos="fade-up" data-aos-duration="3000">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../../assets/images/resized/asma.jpg" alt="card image"></p>
                                <h4 class="card-title">Jebari Asma</h4>
                                <p class="card-text" style="white-space: nowrap;">{{'Humanresourcesmanager' | translate}}
                                    .</p>
                                <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Jebari Asma</h4>
                                <p class="card-text">Our Human resources manager also the unofficial pyschologist , event planner and peaceamaker. </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/asma.jebari4">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4"  data-aos="fade-left" data-aos-duration="3000">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="../../assets/images/resized/hana.jpg" alt="card image"></p>
                                <h4 class="card-title">Hana Ben Ghazeil</h4>
                                <p class="card-text">{{'Secretairegeneral' | translate}}
                                    .</p>
                                <a  class="btn btn-primary btn-sm"><i style="color: aliceblue;" class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Ghazeil Ben Hana</h4>
                                <p class="card-text">The general secretary ,also known as the writer. she has laser-like focus, and makes sure to never miss a detail in our meetings records and all the documents we need. </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/hana.benghazeil">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- ./Team member -->

      </div>
  </div>
      <!-- ======= Speakers Section ======= -->
  <!-- End Speakers Section -->
</section>
</section>
<section id="introo" style="height: 1100px; ">
  <div class="container">

    <div class="svg-wrapper1 mb-5"  data-aos="fade-up" data-aos-duration="3000" >
        <div  *ngIf="lang=='en'" >
      <svg height="80" width="500" xmlns="http://www.w3.org/2000/svg">
        <rect class="shapee" height="80" width="300"/>  </svg>
        <div class="custom-text" id="grandP" >&nbsp;  {{'event'|translate}}</div>
        </div>


    <div  *ngIf="lang=='fr'">
      <svg height="80" width="500" *ngIf="lang=='fr'" xmlns="http://www.w3.org/2000/svg">
        <rect class="shapeefr"  height="80" width="450" />  </svg>

        <div class="custom-text" id="grandP" >&nbsp;  {{'event'|translate}}</div>

    </div>
    </div>
    <div class="row">

      <div class="col-md-6"  data-aos="fade-right" data-aos-duration="3000">
        <div class="card">
            <video class="card-img-top" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="../../assets/Video/Securiday.mp4" type="video/mp4">
            </video>
            <div class="card-body">
               <h5 class="card-title border-bottom pb-3" style="color: white;">SECURIDAY <a href="#" class="float-right d-inline-flex share"><i class="fa fa-share-alt text-danger"></i></a></h5>
               <p class="card-text">{{'Securiday' | translate}}</p>

                    <a href="/event#securidayINDEX" class="btn btn-primary btn-sm">{{'TAKEALOOK'| translate}}<i class="fa "></i></a>

</div>
        </div>
    </div>
    <div class="col-md-6" data-aos="fade-left" data-aos-duration="3000">
      <div class="card">
        <video class="card-img-top" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="../../assets/Video/NCSC – SECURINETS.MP4" type="video/mp4">
        </video>
          <!-- <video class="card-img-top" playsinline="true" autoplay="true" muted="false" loop="true" src="" ></video> -->
          <div class="card-body">
             <h5 class="card-title border-bottom pb-3" style="color: white;">NCSC <a href="#" class="float-right d-inline-flex share"><i class="fa fa-share-alt text-danger"></i></a></h5>
             <p class="card-text"> {{'NSCS' | translate}}</p>

                  <a href="/event#NCSC" class="btn btn-primary btn-sm">{{'TAKEALOOK' | translate}}<i class="fa"></i></a>

</div>
      </div>
  </div>


    </div>
  </div>
</section>
