


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background-color: rgba(202, 206, 221, 0.8);
   -webkit-transition: .4s;
  transition: .4s;
}
.langugage{
  display: inline-block;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: Red;

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  color: rgba(202, 206, 221, 0.8);}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#SOMMES {
  margin-bottom: 100px;
}
.SOMMES {
  position: absolute;;
}
.news{

  position: relative;
  bottom: 1rem;
}

#intro {
  width: 100%;
  height: 80vh;
  background: url(../../assets/images/intro.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}
@media (min-width: 900px and max-width 1050)  {
  #team {

      position: relative;
      margin-right: 1200;    }

}

#intro:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.nav-item active{
  color: red;
}
#First-nous{
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #f82249;
  text-align: right;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}
.MES{
  border-bottom: 10px solid #f82249;
  padding-bottom: 10px;
}
#sommes{
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: left;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}
.Nous {
  height: 200px;
  width: 850px;
  background-size: cover;
  overflow: hidden;
}

#gallery .gallery-carousel .owl-stage-outer {
  overflow: visible;
}

#gallery .gallery-carousel .center {
  border: 6px solid #f82249;
  margin: -10px;
  box-sizing: content-box;
  padding: 4px;
  background: #fff;
  z-index: 1;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}
.fontIcon{
  height: 100px;
width: 100px;

}
// .carousel-content{
//   position: absolute;
//   bottom: 1%;
//   left: 5%;
//   z-index: 20;
//   color: white;
//   text-shadow: 0 1px 2px rgba(0,0,0,.6);
// }
@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}
#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 150px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 991px) {
  #intro .intro-container {
    top: 70px;
  }
}
.news{
  height: 900px;
}
#intro h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

#intro h1 span {
  color: #f82249;
}

@media (max-width: 991px) {
  #intro h1 {
    font-size: 34px;
  }
}

#intro #grandP {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #intro p {
    font-size: 16px;
  }
}
//introo
#introo {
  padding-top: 80px;
  width: 100%;
  height: 430vh;
  background: url(../../assets/images/intro.png) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

@media (min-width: 1024px) {
  #introo {
    background-attachment: fixed;
  }
}

#introo:before {
  content: "";
  background: rgba(6, 12, 34, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#introo .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 90px;
  right: 0;
  display: flex;

  flex-direction: column;
  text-align: center;
  margin-bottom: 400px;
}
.red-line{
  background-color: #f82249;
  height:150px;
  width: 50%;
  padding-bottom: 50px;

}
.red-line h1{
  float: left;
  margin-left: 150%;
}

@media (max-width: 991px) {
  #introo .intro-container {
    top: 70px;
  }
}

#introo h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 76px;
  font-weight: 600;
  text-transform: uppercase;
}

#introo h1 span {
  color:#f82249;
}

@media (max-width: 991px) {
  #introo h1 {
    font-size: 34px;
  }
}

#introo p {
  color: #ebebeb;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 991px) {
  #introo p {
    font-size: 16px;
  }
}
//

#intro .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

#intro .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#intro .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#intro .play-btn:hover::after {
  border-left: 15px solid #f82249;
  transform: scale(20);
}
#rightbare{
  margin-top: 40px;
  margin-left: 50px;
  background: url(../../assets/images/RightBarre.png) ;

  position: relative;
  background-repeat: no-repeat;
  text-align-last: left;



}
.Test1 {
  color:yellow;
  font-weight: 200px;
  font-size: 10px;

}
#rightbare p img {

  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  left: 20;
  top: 370px;
  right: 0;
  display: flex;




}
//mobile  3fat
@media screen and (min-width:310px) and (max-width: 361px) {


// .svg-wrapper1{
//   position: absolute;


//   margin-left:900px
// }
  #introo {
    height: 950vh;

  #First-nous {

    font-size: 32px;
  font-weight: 600;
    margin-right: 10px;}

    #sommes  p span {
      font-size: 42px;
    }
    #rightbare  p  {
      margin: 40px;
      margin-right: 20px;
      font-size: 15px;




    }
    #sommes  h1 span {
      color: white;

    }
    #team {

      margin-top: 85rem ;
      .svg-wrapper{
        position: relative;
        margin-left: 2px;    }
    #team .card {
      border: none;
      background: transparent;
  }
    #Disapear {
      display: none;

    }
    #leftbare{
      margin-right:60px ;


    }
  }
  }
  }
@media screen and (min-width:361px) and  (max-width: 600px) {


.svg-wrapper1{
  margin-left: 1px;
}
  #introo {
    height: 750vh;
  #First-nous {

    font-size: 32px;
  font-weight: 600;
    margin-right: 10px;}

    #sommes  p span {
      font-size: 42px;
    }
    #rightbare  p  {
      margin: 40px;
      margin-right: 20px;
      font-size: 15px;




    }
    #sommes  h1 span {
      color: white;

    }
    #team {

      margin-top: 65rem ;
      .svg-wrapper{
        position: relative;
        margin-left: 2px;    }
    #team .card {
      border: none;
      background: transparent;
  }
    #Disapear {
      display: none;

    }
    #leftbare{
      margin-right:60px ;


    }
  }
  }
  }


  #sommes  p {
        font-weight: 600;
        font-size: 56px;


  }
  #sommes  h1 span {
   color: white;


}

  #rightbare {
    margin-left: 30px;

  }


#rightbare p {
  margin-top: 25px;
  margin-left: 16px;
  text-align-last: left;
  font-size: 18px;
}

#intro .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

#intro .about-btn:hover {
  background: #f82249;
  color: #fff;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
#leftbare{
  margin-top: 40px;
  background: url(../../assets/images/down.png)bottom right ;

  background-repeat: no-repeat;
  text-align-last: left;



}

#leftbare p img {

  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  left: 20;
  top: 370px;
  right: 0;
  display: flex;
  margin-top: 5px;
  margin-right: 10px;
}
#leftbare p {
  margin-top: 25px;
  margin-left: 16px;
  text-align-last: center;
  font-size: 18px;

}
#counter{
  height: 160px;
  font-size: 12px;
  margin-top: 40px;
  position: relative;
  text-align: center;


}
.line {
  background: yellow;
  height: 10px;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 130px;
  position: absolute;
  margin-left: 100px;


}
#counter h1{
  color: white;
  font-size: 22px;


}
.style{
  font-size: 20px;
  font-weight: 500;
}
.block{
  height: 30vh;
}
.wow{
   visibility: hidden;
}
.btn{
  display:block;
  margin: 30px auto;
  font-size: 20px;
}
.btn .fas{

  font-size: 18px;
}

body {
  font-family: Arial;
  padding: 25px;
  background-color: #f5f5f5;
  color: #808080;
  	text-align: center;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */


/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.btn-primary:hover,
.btn-primary:focus {
    background-color: #f82249;
    border-color: #f82249;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color:  #f82249;
    border-color: #f82249;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    position: relative;
    color:  yellow;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-top: 20px;

}
//cadre

.svg-wrapper1 {
  position: relative;
 margin-right: 10px;
 margin-bottom: 20px;
  transform: translateY(-50%);

}
@media (min-width:1000px)  {
  .svg-wrapper1 {
  margin-left: 412px;
  }
}
@media  (max-width:600px) {
  .svg-wrapper1 {
    margin-bottom: 5rem;
  }
}
@media (min-width:700px) and (max-width:1000px) {
  .svg-wrapper1 {
  margin-left: 200px;
  }
}
.svg-wrapper {
  position: relative;

  transform: translateY(-50%);
  margin-left:392px;
}
.shape {
  stroke-dasharray: 180 640;
  stroke-dashoffset: -524;

  stroke-width: 18px;
  fill: transparent;
  stroke: #f82249;
  border-bottom: 8px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.shapee {
  stroke-dasharray: 180 640;
  stroke-dashoffset: -440;
  stroke-width: 18px;
  fill: transparent;
  stroke: #f82249;
  border-bottom: 8px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.shapeefr {
  stroke-dasharray: 430 640;
  stroke-dashoffset: -550;
  stroke-width: 18px;
  fill: transparent;
  stroke: #f82249;
  border-bottom: 8px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 4px;
  color: #fff;
  top: -48px;
  position: relative;
  margin-left:5px;

}
.custom-text {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  line-height: 12px;
  text-transform: uppercase;

  letter-spacing: 4px;
  color: #fff;
  top: -48px;
  position: relative;
  margin-left:5px;

}
@media (max-width:321px) {
  .text {
  margin-left: -1rem;
  }
}
@media (max-width:600px) {
  .custom-text {
    line-height: 2rem;
    top: -70px;

  }
}
.svg-wrapper:hover .shape {
  stroke-width: 9px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1090px;
}
.svg-wrapper1:hover .shapeefr {
  stroke-width: 9px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1300px;
}
.svg-wrapper1:hover .shapee {
  stroke-width: 9px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1090px;
}



#team .card {
    border: none;
    background: transparent;

}
#team{
  margin-top:900px;
  margin-bottom: 1200px;


}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color:  #f82249 !important;
}

.frontside .card .card-title,
  .card-title {
  color: #cacaca !important;
}
.backside .card{
  color: #f82249 !important;

}

.img-fluid {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.image-small {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.card-text{
  color: #cacaca !important;

}
.section-title{
  color: yellow;
}
.image{
  background:transparent;
}
.card{
  background: transparent;

}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
    display:block;
    height:auto;
}
.ml11 {
  font-weight: 700;
  font-size: 4.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.boxx {
  background-color: transparent;
  height: 460px;
  width: 1200px;
  position: relative;
  margin-top: 50px;
  margin-left: 0px;
}
.boxx h3{
  float: left;
  color:#f82249;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.boxx ul{
  float: left;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
  list-style: none;
  margin-right: 100px;
  text-align-last: left

}
.boxx li::before {
  content: "• ";
  color: #f82249; /* or whatever color you prefer */
  padding-right: 5px;
  text-align-last: left



}
.boxx ul li {
  text-decoration: none;
  text-align-last: left
}
.li-nous a{
  font-family: "Raleway", sans-serif;
  font-family: 4px;
  color: red;
  text-align-last: left
}

.top-left {
  position: absolute;
  top: 20px;
  left: -50px;
  border-left: 10px solid #f82249;
  border-top: 10px solid #f82249;
  height: 90px;
  width: 90px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: -60px;
  border-bottom: 10px solid #f82249;
  border-right: 10px solid #f82249;
  height: 90px;
  width: 90px;
}
#content-span{
  font-size: 16px;
  color: gray;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  float: left;
}
/*contact*/




/*footer*/


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(206, 15, 61, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0.4);
    box-shadow: 0 0 0 0 rgba(206, 15, 61, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba(206, 15, 61, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(206, 15, 61, 0);
    box-shadow: 0 0 0 30px rgba(206, 15, 61, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(206, 15, 61, 0);
    box-shadow: 0 0 0 0 rgba(206, 15, 61, 0); } }

.heading-section {
  position: relative;
  z-index: 0; }
  .heading-section .subheading {
    font-size: 12px;
    display: inline-block;
    font-weight: 800;
    color: #ce0f3d;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 0;
    margin-bottom: 10px; }
    .heading-section .subheading:before, .heading-section .subheading:after {
      position: absolute;
      content: '';
      background: #ce0f3d;
      z-index: -1;
      opacity: .4; }
    .heading-section .subheading:before {
      width: 130px;
      height: 1px;
      top: -20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .heading-section .subheading:after {
      width: 1px;
      height: 150px;
      left: 50%;
      top: -60px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .heading-section h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    z-index: 0;
    position: relative;
    color: #000000; }
    @media (max-width: 767.98px) {
      .heading-section h2 {
        font-size: 28px; } }
  .heading-section.heading-section-white .subheading {
    color: #fff; }
  .heading-section.heading-section-white h2 {
    color: #fff; }
  .heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9); }

.img,
.blog-img,
.user-img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.testimony-section {
  position: relative;
  background: #9e0c2f; }
  .testimony-section .owl-carousel {
    margin: 0; }
  .testimony-section .owl-carousel .owl-stage-outer {
    padding: 20px 0 2em 0;
    position: relative; }
  .testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%; }
    .testimony-section .owl-nav .owl-prev,
    .testimony-section .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -10px;
      outline: none !important;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 0; }
      .testimony-section .owl-nav .owl-prev span:before,
      .testimony-section .owl-nav .owl-next span:before {
        font-size: 30px;
        color: rgba(0, 0, 0, 0.5);
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
      .testimony-section .owl-nav .owl-next:hover span:before,
      .testimony-section .owl-nav .owl-next:focus span:before {
        color: #fff; }
    .testimony-section .owl-nav .owl-prev {
      left: 50%;
      margin-left: -80px; }
    .testimony-section .owl-nav .owl-next {
      right: 50%;
      margin-right: -80px; }
  .testimony-section:hover .owl-nav .owl-prev,
  .testimony-section:hover .owl-nav .owl-next {
    opacity: 1; }
  .testimony-section:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px; }
  .testimony-section:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px; }
  .testimony-section .owl-dots {
    text-align: center; }
    .testimony-section .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.3); }
      .testimony-section .owl-dots .owl-dot:after {
        border-color: rgba(255, 255, 255, 0.3); }
      .testimony-section .owl-dots .owl-dot.active {
        background: #fff; }
        .testimony-section .owl-dots .owl-dot.active:after {
          border-color: #fff; }

.testimony-wrap {
  display: block;
  position: relative;
  padding: 40px;
  border-radius: 5px;
  z-index: 0;
  background: #fff; }
  .testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative; }
  .testimony-wrap .text {
    width: calc(100% - 80px);
    position: relative; }
    @media (max-width: 767.98px) {
      .testimony-wrap .text {
        width: 100%;
        padding-top: 10px; } }
    .testimony-wrap .text p {
      color: #000000; }
  .testimony-wrap .quote {
    position: absolute;
    top: -60px;
    left: 25px;
    opacity: 1;
    width: 40px;
    height: 40px;
    background: #ce0f3d;
    border-radius: 50%; }
    @media (max-width: 767.98px) {
      .testimony-wrap .quote {
        top: -140px; } }
    .testimony-wrap .quote i {
      font-size: 20px;
      color: #fff; }
  .testimony-wrap .name {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 0;
    color: #000000; }

.staff {
  width: 100%;
  margin-bottom: 30px; }
  .staff .img {
    background-position: top center;
    width: 100%;
    display: block;
    height: 300px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .staff .text {
    padding: 10px 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: -40px;
    border-radius: 4px;
    background: #ce0f3d;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .staff .text h3 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 0;
      font-weight: 700; }
    .staff .text span {
      color: rgba(255, 255, 255, 0.7); }
  .staff:hover .text {
    width: 90%; }

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

.ministry {
  margin-bottom: 30px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .ministry {
      margin-bottom: 60px; } }
  .ministry .img {
    width: 100%;
    display: block;
    height: 350px; }
    @media (max-width: 767.98px) {
      .ministry .img {
        width: 100%;
        height: 300px; } }
  .ministry .text {
    width: 100%;
    background: #f7e8f0; }
    @media (max-width: 767.98px) {
      .ministry .text {
        width: 100%; } }
    .ministry .text h2 {
      font-size: 24px;
      font-weight: 600; }
      .ministry .text h2 a {
        color: #000000; }

.event-wrap {
  margin-bottom: 30px;
  width: 100%; }
  @media (max-width: 767.98px) {
    .event-wrap {
      margin-bottom: 60px; } }
  .event-wrap .img {
    width: 100%;
    display: block;
    height: 430px; }
    @media (max-width: 767.98px) {
      .event-wrap .img {
        width: 100%;
        height: 300px;
        margin-bottom: 20px; } }
  .event-wrap .text {
    width: 100%;
    background: #f7e8f0; }
    @media (max-width: 767.98px) {
      .event-wrap .text {
        width: 100%; } }
    .event-wrap .text h2 {
      font-size: 30px;
      margin-bottom: 22px;
      font-weight: 600; }
      .event-wrap .text h2 a {
        color: #000000; }
    .event-wrap .text .meta p {
      font-weight: 600;
      font-size: 17px; }
      .event-wrap .text .meta p span {
        display: block;
        margin-bottom: 10px; }

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  position: relative;
  display: block;
  width: 100%; }

.blog-entry {
  display: block;
  width: 100%; }
  @media (min-width: 768px) {
    .blog-entry {
      margin-bottom: 40px; } }
  @media (max-width: 767.98px) {
    .blog-entry {
      margin-bottom: 30px; } }
  .blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
    width: 100%;
    border: 1px solid #f7e8f0;
    z-index: 0;
    border-radius: 0 0 10px 10px;
    background: #f7e8f0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .blog-entry .text:after {
      position: absolute;
      bottom: -4px;
      left: 20px;
      right: 20px;
      content: '';
      height: 4px;
      background: #ce0f3d;
      border-radius: 0 0 6px 6px;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .blog-entry .text .tag {
      color: #b3b3b3; }
    .blog-entry .text .heading {
      font-size: 20px;
      margin-bottom: 16px;
      font-weight: 600; }
      .blog-entry .text .heading a {
        color: #000000; }
        .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
          color: #ce0f3d; }
    .blog-entry .text .meta-chat {
      color: #ce0f3d; }
    .blog-entry .text .read {
      color: #000000;
      font-size: 14px; }
  .blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .blog-entry .meta > div a {
      color: #ce0f3d;
      font-weight: 500; }
      .blog-entry .meta > div a:hover {
        color: #333333; }
  .blog-entry:hover .text:after {
    background: #ce0f3d;
    bottom: -5px;
    height: 5px;
    border-radius: 0 0 5px 5px; }
  .blog-entry:hover .text .btn-outline-secondary {
    background: #ce0f3d;
    color: #fff; }

.block-23 ul {
  padding: 0; }
  .block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px; }
  .block-23 ul li span {
    color: rgba(255, 255, 255, 0.7); }

  .block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top; }
  .block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white; }

.block-27 ul {
  padding: 0;
  margin: 0; }
  .block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400; }
    .block-27 ul li a, .block-27 ul li span {
      color: gray;
      text-align: center;
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      border: 2px solid #e6e6e6; }
    .block-27 ul li.active a, .block-27 ul li.active span {
      background: #ce0f3d;
      color: #fff;
      border: 1px solid transparent; }

.wrapper {
  width: 100%; }

.contact-wrap {
  background: #ce0f3d; }
  .contact-wrap h3 {
    color: #fff; }

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px; } }

.dbox {
  width: 100%;
  margin-bottom: 25px; }
  @media (max-width: 767.98px) {
    .dbox {
      margin-bottom: 25px !important;
      padding: 0 20px; } }
  .dbox p {
    margin-bottom: 0; }
    .dbox p span {
      font-weight: 700;
      color: #000000;
      display: block;
      font-size: 16px; }
    .dbox p a {
      color: #ce0f3d; }
  .dbox .icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ce0f3d;
    margin: 0 auto;
    margin-bottom: 20px; }
    .dbox .icon span {
      font-size: 40px;
      color: #fff; }
  .dbox .text {
    width: 100%; }

.contactForm .label {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; }

.contactForm .form-control {
  border: none;
  padding: 10px; }

.contactForm .form-control {
  height: 50px;
  background: #fff !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: none; }
  .contactForm .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5) !important; }
  .contactForm .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5) !important; }
  .contactForm .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.5) !important; }
  .contactForm .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5) !important; }
  .contactForm .form-control:focus, .contactForm .form-control:active {
    border-color: #ce0f3d !important; }

.contactForm textarea.form-control {
  height: inherit !important; }

#map {
  height: 500px;
  width: 100%; }
  @media (max-width: 767.98px) {
    #map {
      height: 300px; } }

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px; }

.block-21 .text {
  width: calc(100% - 100px); }
  .block-21 .text .heading {
    font-size: 16px;
    font-weight: 400; }
    .block-21 .text .heading a {
      color: #000000; }
      .block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
        color: #ce0f3d; }
  .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px; }
    .block-21 .text .meta > div a {
      color: gray; }

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: .1em; }
  .post-info > div {
    display: inline-block; }
    .post-info > div .seperator {
      display: inline-block;
      margin: 0 10px;
      opacity: .5; }

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000000;
  border: 1px solid #ccc;
  font-size: 11px; }
  .tagcloud a:hover {
    border: 1px solid #000; }

.comment-form-wrap {
  clear: both; }

.comment-list {
  padding: 0;
  margin: 0; }
  .comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%; }
  .comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none; }
    .comment-list li .vcard {
      width: 80px;
      float: left; }
      .comment-list li .vcard img {
        width: 50px;
        border-radius: 50%; }
    .comment-list li .comment-body {
      float: right;
      width: calc(100% - 80px); }
      .comment-list li .comment-body h3 {
        font-size: 20px; }
      .comment-list li .comment-body .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ce0f3d; }
      .comment-list li .comment-body .reply {
        padding: 5px 10px;
        background: #ce0f3d;
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .1em;
        font-weight: 400;
        border-radius: 4px; }
        .comment-list li .comment-body .reply:hover {
          color: #fff;
          background: black; }

.search-form .form-group {
  position: relative; }
  .search-form .form-group input {
    padding-right: 50px;
    font-size: 14px; }

.search-form .fa {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.sidebar-box {
  margin-bottom: 40px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff; }
  .sidebar-box *:last-child {
    margin-bottom: 0; }
  .sidebar-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 700; }

.categories li, .sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
  list-style: none; }
  .categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0; }
  .categories li a, .sidelink li a {
    display: block;
    color: #1a1a1a; }
    .categories li a span, .sidelink li a span {
      position: absolute;
      right: 0;
      top: 0;
      color: #ccc; }
    .categories li a:hover, .categories li a:focus, .sidelink li a:hover, .sidelink li a:focus {
      outline: none;
      color: #ce0f3d; }
  .categories li.active a, .sidelink li.active a {
    color: #ce0f3d; }
    .categories li.active a span, .sidelink li.active a span {
      color: #ce0f3d; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }


.box-slider {
  background:rgba(0,0,0,0.5);
}
.box-slider:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(201, 57, 57, 0.75);
  display:block;
  height:auto;
}




